<ion-content>
  <div class="conteneurPage">

    <div class="conteneurInput">
      <div class="rechercche">
        <input type="search" placeholder="Recherche">
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="conteneurPub">

      <div class="myCard">
        <div class="division1">

          <div class="contImage">
            <img src="../assets/images/agriculture.png">
          </div>

          <div class="texte">
            <div class="titre" style="font-size: 18px;">
              Titre de pub
            </div>
            <div class="soustitre" style="font-size: 15px;"> 
              Sous titre de pub
            </div>
          </div>

        </div>

        <div class="contenu">
          Le maïs (Zea mays L., ou Zea mays subsp. mays (autonyme)), appelé blé d’Inde au Canada1.
        </div>

        <div class="division2">

          <div class="coordonnee">
            <div>Mahamadou KEITA</div>
            <div>Mardi le 10 2022</div>
          </div>
          <div class="bouttons">
            <button>Voir plus</button>
          </div>

        </div>
      </div>

      <div class="add" (click)="ajouterConseil()">
        <i style="color: #14AE5C; font-size: 30px;" class="fa-solid fa-plus"></i>
      </div>

      

    </div>

  </div>
 



</ion-content>
