<ion-content>
  <div class="conteneurPage">

    <div class="conteneurInput">
      <div class="rechercche">
        <input type="search" placeholder="Recherche" [(ngModel)]="filterTerm">
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="conteneurPub">

      <div class="myCard" *ngFor="let publication of lesPublivationsOrdonnes | filter: filterTerm | paginate: { itemsPerPage: 10, currentPage: p}">
        <div class="division1">

          <div class="contImage">
            <img src="{{publication.posteur.photo}}">
          </div>

          <div class="texte">
            <div class="titre" style="font-size: 18px;">
              {{publication.titre}}
            </div>
            <div class="soustitre" style="font-size: 15px;"> 
              {{publication.soustitre}}
            </div>
          </div>

        </div>

        <div class="contenu" *ngIf="publication.media == null">
          {{publication.description}}
        </div>

        <div class="contenu" *ngIf="publication.media != null">
          <video width="100%" height="200"  controls preload="auto">
            <source src="{{publication.media}}" type="video/mp4">
          </video>
          <span style="padding: 5px;">{{publication.description.slice(0, 100)}}<span *ngIf="publication.description.length > 100">...</span></span>
        </div>

        <div class="division2">

          <div class="coordonnee">
            <div>{{publication.posteur.nomcomplet}}</div>
            <div>{{ publication.datepub | date: 'dd/MM/yyyy HH:mm' }}min </div>
          </div>
          <div class="bouttons">
            <button [routerLink]="['/detail-publication', publication.id]">Voir plus</button>
          </div>

        </div>


      </div>


      <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>


      <div class="add" (click)="ajouterConseil()">
        <i style="color: #14AE5C; font-size: 30px;" class="fa-solid fa-plus"></i>
      </div>

      

    </div>

  </div>
 



</ion-content>
