<ion-content>

  <div class="barre-menu">
    <div class="element-menus">
      <div class="libelle" style="color: #fff; font-size: 20px;">
       {{detailParserelleClique.nom}}
      </div>
      <div (click)="closeModal()"><i style="color: red; font-size: 20px; margin-right: 10px;" class="fa-solid fa-xmark"></i></div> 
    </div>
  </div>


  <div class="detailPar">
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">LONGUEUR</div>
      <div class="detail">{{detailParserelleClique.longueur}} m</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">LARGEUR</div>
      <div class="detail">{{detailParserelleClique.largeur}} m</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">SURFACE</div>
      <div class="detail" style="font-size: 14px;">{{detailParserelleClique.longueur * detailParserelleClique.largeur}} m²</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">PERIMETRE</div>
      <div class="detail">{{detailParserelleClique.longueur + detailParserelleClique.largeur}} m</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">Status</div>
      <div class="detail"  style="color: #14AE5C; font-weight: bold;">{{detailParserelleClique.status}}</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">TYPE</div>
      <div class="detail">{{detailParserelleClique.etypeparserelle}}</div>
    </div>


    <div class="semer">
      <div class="iconAct"><i  class='far fa-edit' style='font-size:25px; color: blue;'></i></div>
      <ion-button class="fermer" type="submit" expand="block">Semer</ion-button>
      <div class="iconAct"><i class="fa fa-trash" aria-hidden="true" style="color:red; font-size:25px"></i></div>
    </div>


  </div>

  

  <div class="conteneur">
      
<div class="listeCulture">Liste des cultures</div>

<div class="conteneurInput">
  <div class="rechercche">
    <input type="search" placeholder="Recherche">
    <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
  </div>
</div>

<div class="detailChamp" *ngFor="let cultive of lesCultivesActivesDuneParserelle">
  <div class="status">
   <span>{{cultive.status}}</span>
  </div>
  <div class="elementDetailChamp">
 <!-- <div class="libelle">Réference</div> -->
    <div class="detail" style="text-align: center; font-weight: bold; ">{{cultive.reference}}</div>
  </div>
  <div class="elementDetailChamp">
    <div class="libelle">Debut</div>
    <div class="detail">{{cultive.datedebutsemis}}</div>
  </div>
  <div class="elementDetailChamp">
    <div class="libelle">Fin</div>
    <div class="detail">{{cultive.datefinsemis}}</div>
  </div>
  <div class="elementDetailChamp">
    <div class="libelle">Variété</div>
    <div class="detail">{{cultive.varietes.nom}}</div>
  </div>
  <div class="elementDetailChamp contVoirplus">
    <button class="voirplus" (click)="voirDetailDuneCultive(cultive.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
  </div>
</div>

  </div>
</ion-content>