<ion-content>

  <div class="barre-menu">
    <div class="element-menus">
      <div class="libelle" style="color: #fff; font-size: 20px;">
       {{detailParserelleClique.nom}}
      </div>
      <div (click)="closeModal()"><i style="color: red; font-size: 20px; margin-right: 10px;" class="fa-solid fa-xmark"></i></div> 
    </div>
  </div>


  <div class="detailPar">
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">LONGUEUR</div>
      <div class="detail">{{detailParserelleClique.longueur}} m</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">LARGEUR</div>
      <div class="detail">{{detailParserelleClique.largeur}} m</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">SURFACE</div>
      <div class="detail" style="font-size: 14px;">{{detailParserelleClique.longueur * detailParserelleClique.largeur}} m²</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">PERIMETRE</div>
      <div class="detail">{{detailParserelleClique.longueur + detailParserelleClique.largeur}} m</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">Status</div>
      <div class="detail"  style="color: #14AE5C; font-weight: bold;">{{detailParserelleClique.status}}</div>
    </div>
    <div class="elementDetailChamp">
      <div class="libelle" style="font-size: 14px;">TYPE</div>
      <div class="detail">{{detailParserelleClique.etypeparserelle}}</div>
    </div>


    <div class="semer">
      <div class="iconAct"><i  class='far fa-edit' style='font-size:25px; color: blue;'></i></div>
      <ion-button class="fermer" type="submit" id="open-modal2" expand="block">Semer</ion-button>
      <div class="iconAct"><i class="fa fa-trash" aria-hidden="true" style="color:red; font-size:25px"></i></div>
    </div>


  </div>

  

  <div class="conteneur">
      
<div class="listeCulture">Liste des cultures</div>

<div class="conteneurInput">
  <div class="rechercche">
    <input type="search" placeholder="Recherche">
    <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
  </div>
</div>

<div class="detailChamp" *ngFor="let cultive of lesCultivesActivesDuneParserelle">
  <div class="status">
   <span>{{cultive.status}}</span>
  </div>
  <div class="elementDetailChamp">
 <!-- <div class="libelle">Réference</div> -->
    <div class="detail" style="text-align: center; font-weight: bold; ">{{cultive.reference}}</div>
  </div>
  <div class="elementDetailChamp">
    <div class="libelle">Debut</div>
    <div class="detail">{{cultive.datedebutsemis}}</div>
  </div>
  <div class="elementDetailChamp">
    <div class="libelle">Fin</div>
    <div class="detail">{{cultive.datefinsemis}}</div>
  </div>
  <div class="elementDetailChamp">
    <div class="libelle">Variété</div>
    <div class="detail">{{cultive.varietes.nom}}</div>
  </div>
  <div class="elementDetailChamp contVoirplus">
    <button class="voirplus" (click)="voirDetailDuneCultive(cultive.id)"><i class="fa fa-eye" aria-hidden="true"></i></button>
  </div>
</div>

  </div>





  <ion-modal
  trigger="open-modal2"
  [initialBreakpoint]="0.80"
  [breakpoints]="[0, 0.60, 0.5, 0.75, 0.80]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding" style="gap: 50px!important;
    display: flex!important;
    justify-content: space-around!important;
    flex-direction: column!important;">

    <form class="formulaire">

      <div class="ion-margin-top" style="margin-bottom: 3%; width: 100%; text-align: center;">
        <ion-label class="libelleModal" >Veuillez choisir une option</ion-label>
      </div>
      <div class="input">

        <label>Produit Agricole <span class="obligatoire">*</span></label>     
        <!-- [ngClass]="{'is-invalid': myForm.get('typeChamp')!.invalid && myForm.get('typeChamp')!.touched}" -->
        <!-- formControlName="champ" -->
        <select  class="form-control telephone-input"
        >
        <option style="color: #000;" value="Choisir un type" selected disabled>Choisir un produit</option>
        <!-- *ngFor="let champ of lesChampDeCurrentUser" value="{{champ.id}}" -->
        <!-- {{champ.nom}} -->
          <option value=""></option>
        </select>

        <!-- <span class="erreur" *ngIf="myForm!.get('champ')!.hasError('required') && myForm.get('champ')!.touched">Cet champ est obligatoire</span> -->

      </div>

      <div class="input">

        <label>Semence <span class="obligatoire">*</span></label>     
        <!-- [ngClass]="{'is-invalid': myForm.get('typeChamp')!.invalid && myForm.get('typeChamp')!.touched}" -->
        <!-- formControlName="champ" -->
        <select  class="form-control telephone-input"
        >
        <option style="color: #000;" value="Choisir un type" selected disabled>Choisir une semence</option>
        <!-- *ngFor="let champ of lesChampDeCurrentUser" value="{{champ.id}}" -->
        <!-- {{champ.nom}} -->
          <option value=""></option>
        </select>

        <!-- <span class="erreur" *ngIf="myForm!.get('champ')!.hasError('required') && myForm.get('champ')!.touched">Cet champ est obligatoire</span> -->

      </div>

      <div class="input">
        <label>Date debut <span class="obligatoire">*</span></label>
        <!-- formControlName="username" -->
        <input class="telephone-input" type="date" class="form-control" placeholder="82644606"
        >

        <!-- [ngClass]="{'is-invalid': form.get('username')!.invalid && form.get('username')!.touched}"
        [ngClass]="{'is-valid': form.get('username')!.valid && form.get('username')!.touched}" -->

        <!-- [ngStyle]="{'border-color': (form.get('username')!.valid && form.get('username')!.touched) ? 'green' : 'red' }" -->

       
<!--         
        <span class="erreur" *ngIf="form!.get('username')!.hasError('required') && form.get('username')!.touched">Cet champ est obligatoire</span>
        <span class="erreur" *ngIf="form!.get('username')!.hasError('minlength') && form.get('username')!.touched">Numero court</span>
        <span class="erreur" *ngIf="form!.get('username')!.hasError('maxlength') && form.get('username')!.touched">Numero Long</span>

 -->

      </div>


      <div class="input">
        <label>Date fin <span class="obligatoire">*</span></label>
        <input class="telephone-input" type="date" class="form-control" placeholder="82644606" formControlName="username"
        >

        <!-- [ngClass]="{'is-invalid': form.get('username')!.invalid && form.get('username')!.touched}"
        [ngClass]="{'is-valid': form.get('username')!.valid && form.get('username')!.touched}" -->

        <!-- [ngStyle]="{'border-color': (form.get('username')!.valid && form.get('username')!.touched) ? 'green' : 'red' }" -->

       
<!--         
        <span class="erreur" *ngIf="form!.get('username')!.hasError('required') && form.get('username')!.touched">Cet champ est obligatoire</span>
        <span class="erreur" *ngIf="form!.get('username')!.hasError('minlength') && form.get('username')!.touched">Numero court</span>
        <span class="erreur" *ngIf="form!.get('username')!.hasError('maxlength') && form.get('username')!.touched">Numero Long</span>

 -->

      </div>

      <div class="conteneur-submit">
        <!-- routerLink="/tabs/tab1" -->
        <ion-button class="envoyer-input" type="submit" expand="block">SEMER</ion-button>
      </div>

    </form>
      

    </ion-content>
  </ng-template>
</ion-modal>


</ion-content>