        
        
        
        
        <ion-tabs slot="bottom">
      <ion-tab-bar class="tabs" >

        <ion-tab-button tab="champs">
          <ion-icon name="person-circle" aria-hidden="true"></ion-icon>
          <ion-label>Champs</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="speakers"> 
          <ion-icon name="add-circle" aria-hidden="true"></ion-icon>
          <ion-label>Ajouter</ion-label>
        </ion-tab-button>
    
        <ion-tab-button tab="stockprofil">
          <ion-icon name="person-circle" aria-hidden="true" aria-hidden="true"></ion-icon>
          <ion-label class="">Stocks</ion-label>
        </ion-tab-button>

      </ion-tab-bar>
    </ion-tabs>
 