//La barre en haut
ion-toolbar{
    --background: #14AE5C;
    color: #fff;
    padding: 0;
}

//le titre de la barre
ion-title{
    font-size: 15px;
}







.barre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    background-color: #14AE5C;
      color: #fff;
      padding: 0;
      z-index: 0;
      display: flex;
      justify-content: space-around;
      height: 75px;
  }
  
  .element-menus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .nomApp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }
  //les icones du popup profil
  // .image{
  //   width: 40px; height: 40px;
  // }
  .deconnexion{
    color: red;
  }








//le conteneur de mon input recherche et, de l'icone recherche
.conteneurInput{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
}

//le conteneur de la partie recherche
.rechercche{
    width: 85vw;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid #000000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

//augmente la taille de l'icone recherche
.fa-magnifying-glass::before, .fa-search::before {
    font-size: 25px!important;
}

//le champ input
.rechercche input{
   border: none;
    outline: none;
    width: 60vw;
    height: 43px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 15px;

}

//Le conteneur des elements de la page enfant direct de ion-content
.produitagricole{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}


///le des produits agricoles
/// 

.ion-grid{
    margin: 15px;
}

ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #000;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    // height: 200px;
    // width: 172px;
    background: #FFFFFF;
    border: 1px solid #14AE5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 10px;
  }

  .conteneurImg img{
    // border-radius: 10px 10px 0px 0px;
    border-radius: 10%;
    width: 77%!important;
    // height: 50%!important;

  }
  .voirplus{
    background-color: #efecee;
    border-radius: 15px;
    color: #14AE5C;
    font-weight: bold;
    width: 50%;
    height: 38px;
    font-weight: bold;
  }

  .contenu h5{
    font-weight: bold;

    background-color: #14AE5C;
    padding: 5px;
    color: #fff;
  }