
<ion-content>
  <div class="produitagricole">
    <div class="conteneurInput">
      <div class="rechercche">
        <input type="search" placeholder="Recherche">
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="conteneurProduitAgricole">

      <ion-grid>

        <ion-row>
          <ion-col *ngFor="let transporteur of tousLestransporteurs">
              <div class="conteneurImg">
                <img src="{{transporteur.photo}}" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5 class="nomComplet">{{transporteur.nomcomplet}}</h5>
                 <h6>{{transporteur.adresse}}</h6>
                </div>
                <button class="voirplus" (click)="appelle(transporteur.username)"  >CONTACTER</button>
              </div>
          </ion-col>
        </ion-row>

       