
<ion-content>
  <div class="produitagricole">
    <div class="conteneurInput">
      <div class="rechercche">
        <input type="search" placeholder="Recherche">
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="conteneurProduitAgricole">

      <ion-grid>

        <ion-row>
          <ion-col>
              <div class="conteneurImg">
                <img src="../assets/images/transporteur.jpg" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5 class="nomComplet">Mahamadou Keita</h5>
                 <h6>Bamako / Lafiabougou</h6>
                 <h6>Type A</h6>
                </div>
                <button routerLink="/profil-transporteur" class="voirplus" >Voir plus</button>
              </div>
          </ion-col>
        </ion-row>

       