
//Le conteneur des elements de la page enfant direct de ion-content
.produitagricole{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

///le des produits agricoles
ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #000;
    text-align: center;
    border-radius: 10px 10px 0px 0px;
    background: #FFFFFF;
    border: 1px solid #14AE5C;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 2vw;
    width: 80vw;
    height: 100%;
  }

  .conteneurImg{
    --height: 80%!important;
  }

  .conteneurImg img{
    border-radius: 10px 10px 0px 0px;
    width: 100%!important;
    height: 100px!important;

  }
  .voirplus{
    background-color: #efecee;
    border-radius: 15px;
    color: #14AE5C;
    height: 25px;
    width: 60px;
  }

  .contenu h5{
    font-weight: bold;
  }


















  .barre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    background-color: #14AE5C;
      color: #fff;
      padding: 0;
      z-index: 0;
      display: flex;
      justify-content: space-around;
      height: 75px;
  }
  
  .element-menus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .nomApp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;

  }

  .deconnexion{
    color: red;
  }//fin des style du menu


  //debut des styles du contenu du profil
  .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    grid-column: 25px;
    // background-color: #efecee;
    border-radius: 50px;
    box-shadow: 0px 0px 4px 4px rgb(20 174 92 / 10%);
  }
  

  .photoProfil1{
    max-height: 30vh;
    width: 100%;
  }
  .image-detail{
    width: 100%;
    max-height: 30vh;
    object-fit: fill;
  }

  .conteneurProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px; 
    width: 100%;
    height: 100%;
  }

  .mail, .adresse, .telephone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .footer{
    // height: 60px;
    background-color: #14AE5C;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: 100px;

  }
  .libelle{
    font-weight: bold;
  }
  .libelle, .valeur{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .libelle p, .valeur p{
    font-size: 14px;
  }

  .libelle{
    font-weight: bold;
  }

  .bouttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .bouttons ion-button{
    --background:#fff;
    --border:1px solid #14AE5C;
    --border-radius: 20px;
    color: #14AE5C;
    font-weight: bold;
  }

  .infoPersonnelles{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
  }


  @media (min-width: 650px) {
    ion-col {
      border-radius: 10px;
      margin: 10vw;
      width: 120%;
    }
  }


  @media (max-width: 767px) {
    .mesec {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      // gap: 5px;
      margin-bottom: 15px;
      margin-top: 8px;
      row-gap: 12px;
    }
    ion-col{
      margin: 2% !important;
      width: 95% !important;
    }
  }
