
<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <ion-buttons slot="start" >
        <ion-back-button (click)="retourner()" defaultHref=""></ion-back-button>
      </ion-buttons>
      <div class="nomApp" style="flex-basis: 80%;">
       {{currentUser.nomcomplet}}
      </div>
    </div>

  </div>
</ion-header>


<ion-content>
  <div class="produitagricole">

    <div class="conteneurProfil">

      <div class="details">
  
        <div class="photoProfil1">
          
          <!-- Lorsque l'image de profil est vide -->
          <img *ngIf="currentUser.photo == null" class="image-detail"  src="../../assets/images/profil.png" style="margin-top: 10px; object-fit: contain;">
          <i *ngIf="currentUser.photo == null"  class='far fa-edit' style='font-size:28px; color: #000; position: relative;  bottom: 66px; left: 10px;'></i>

          <!-- Lorsque l'image de profil n'est pas vide -->
         <img *ngIf="currentUser.photo != null" class="image-detail" src="{{currentUser.photo}}">
         <i *ngIf="currentUser.photo != null" class='far fa-edit' style='font-size:35px; color: #000; position: relative; top: 5px; bottom: 66px; left: 33px; color: #fff;'></i>

        </div>
    
        <div class="infoPersonnelles">
  
          <div class="telephone">
            <div class="libelle">
              <p>Téléphone : </p>
            </div>
            <div class="valeur">
              <p>{{currentUser.username}}</p>
            </div>
          </div>
  
          <div class="adresse" *ngIf="currentUser.addresse != null">
            <div class="libelle">
              <p>Adresse : </p>
            </div>
            <div class="valeur">
              <p>{{currentUser.addresse}}</p>
            </div>
          </div>
  
          <div class="mail" *ngIf="currentUser.email != null">
            <div class="libelle">
              <p>E-mail : </p>
            </div>
            <div class="valeur">
              <p style="padding: 0;">{{currentUser.email}}</p>
            </div>
          </div>
  
          <div class="bouttons">
            <ion-button (click)="modifierProfil()" class="modifier" type="submit" expand="block">Modifier</ion-button>
            <ion-button (click)=" fermerCompte()" class="fermer" type="submit" expand="block">Fermer</ion-button>
          </div>
  
        </div> 
      </div>
    </div>

  





    

    <div class="conteneurProduitAgricole">
      <ion-grid>
        <ion-row class="mesec" *ngIf="existe">
          <ion-col *ngFor="let stock of stocksUserActuel">
              <div class="conteneurImg">
                <img src="{{stock.photo}}" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5>{{stock.libelle.slice(0, 10)}}..</h5>
                </div>
                <button class="voirplus" [routerLink]="['/profil/stockprofil/detail-stocks', stock.id]"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </div>
          </ion-col>
        </ion-row>
        <div *ngIf="!existe" style="display: flex; justify-content: center; width: 100%; font-weight: bold;">Aucun stock</div>

      </ion-grid>

    </div>

  </div>
</ion-content>
