<ion-header>
  <ion-header>
    <div class="barre-menu">
      <div class="element-menus">
        <ion-buttons slot="start" >
          <ion-back-button defaultHref="profil"></ion-back-button>
        </ion-buttons>
        <div class="nomApp" style="flex-basis: 80%;">
          Parserelle 1
        </div>
      </div>
    </div>
  </ion-header>
</ion-header>

  <ion-content>


    <!-- Le conteneur principal du detail champs -->
    <div class="conteneurDetailChamp">
      <div class="photoChamp">
        <img class="monChamp" src="../../assets/images/monChamp.jpg" alt="Image du champ">
        <div class="temperature" >25 °C</div>
      </div>
        <!-- <div class="filtre">
          <ion-item>
            <ion-select class="input-filtre" placeholder="Choisir une parselle" okText="Choose Fruit" cancelText="Cancel Choice">
              <ion-select-option value="apples">Apples</ion-select-option>
              <ion-select-option value="oranges">Oranges</ion-select-option>
              <ion-select-option value="bananas">Bananas</ion-select-option>
            </ion-select>
          </ion-item>
          <i class="fa fa-filter" aria-hidden="true" ></i>
      </div> -->
    
    
      <!-- <div class="history">
        Choisir une culture <i class="fa-solid fa-arrow-right"></i> 
       </div> -->

       <div class="accesprevision" style="margin-top: 15px; border-radius: 10px;">
        <ion-button class="modifier" type="submit" expand="block">Choisir une culture</ion-button>
    </div>

      <div class="calendrier-semer">
        <div class="calendrier">
          <input class="calendar-input" type="date" id="birthday" value="2023-01-13" name="birthday">
          <input class="calendar-input" type="date" id="birthday" value="2023-01-13" name="birthday">
        </div>
        <div class="semer">
          <ion-button class="fermer" type="submit" expand="block">Semer</ion-button>
         <div class="actions-buuton">
          <div><i  class='far fa-edit' style='font-size:25px; color: blue;'></i></div>
          <div><i class="fa fa-trash" aria-hidden="true" style="color:red; font-size:25px"></i></div>
         </div>

        </div>
      </div>
      <div class="accesprevision">
          <ion-button class="modifier" type="submit" expand="block">Consulter les previsions</ion-button>
      </div>
        

     <div class="phase">
      <table>
        <h6  style="color: #14AE5C; font-weight: bold; margin-top: 15px; margin-bottom: 15px; font-size: 16.5px;">Les phases de votre cultures</h6>
        <thead>
          <tr>
            <th>Action</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Action..</td>
            <td>12/06/22</td>
            <td>30/06/22</td>
            <!-- <td>Detail...</td> -->
            <td routerLink="/profil/champs/details-champs/detail-parserelle"><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td>Action..</td>
            <td>15/07/22</td>
            <td>16/07/22</td>
            <!-- <td>Detail...</td> -->
            <td routerLink="/profil/champs/details-champs/detail-parserelle"><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
     </div>

    <div class="ajouterPhase">
      <div><i class="fa fa-plus" aria-hidden="true" style="font-size:30px"></i></div>
      <div class="texteAjouter">Ajouter une phase</div>
      <!-- <div class="modifier" type="submit" expand="block">
        Ajouter
      </ion-button> -->
  </div>

    </div>

   
      



  </ion-content>
