.barre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    background-color: #14AE5C;
      color: #fff;
      padding: 0;
      z-index: 0;
      display: flex;
      justify-content: space-around;
      height: 75px;
  }
  
  .element-menus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .nomApp{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    // gap: 10px;
    margin-right: 16px;
  }


  //le conteneur principal du contenu

  .conteneurDetailChamp{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // // gap: 10px;
    // margin-bottom: 10px;
    margin-bottom: 15px;

    background-color: #F4F5F8;
  }


//   Style de l'image et son conteneur
.photoChamp{
    height: 30vh;
    width: 100%;
}
.monChamp{
    height: 100%;
    width: 100%;
}

//style de la temperature
.temperature{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: #fff;
    color: #14AE5C;
    z-index: 1000;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}



.calendrier{
    display: flex;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
}

  //le input du calendrier
  .calendar-input{
    border-radius: 10px;
  }

  .fermer{
    --background: #14AE5C;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    --border-radius: 10px;
     color: #fff;
     height: 35px;
     width: 90%;
     margin: auto;
  }
 
  .actions-buuton{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
  }

  .calendrier-semer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px 0 15px 0;
    width: 100%;
    // height: 18vh;
  }

  .accesprevision{
    --background: #fff;
    color: #14AE5C;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    --border-radius: 10px;
     height: 35px;
     width: 100%;
     margin: auto;

     display: flex;
     justify-content: center;
     align-items: center;
  }

  .ion-padding {
    padding-top: 0;
    padding-bottom: 0;
  }

  .datedf{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap:3px;
  }
  .libDate{
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    font-weight: bold;
    font-size: 13px;
  }
  .recolteInputConteneur{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .inputRecolte{
    height: 28px;
    width: 65px;
    border-color: #14AE5C;
    border-radius: 7px;
  }







  ////les styles des activites

table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // gap: 10px;
}
thead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    // width: 100%;
    width: 97%;
    font-weight: bold;
    height: 50px;
    font-weight: bold;
    background-color: #14AE5C;
    border-radius: 10px;
    color: #fff;
}

thead tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


tbody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #efecee;
    margin: 5px 0 5px 0;
}

tbody tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 50px;
    // gap: 10px;
    margin: 5px;

    background: #FFFFFF;
    box-shadow: 0px 0px 5px 4px rgba(20, 174, 92, 0.06);
    border-radius: 10px;
}


//Styles des details du champs

//conteneur principal des details
.detailChamp{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 10px;
    margin-left: 5%;
    margin-right: 2%;
  }

  .elementDetailChamp{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;  
  }

  .detail, .libelle{
    display: flex;
    justify-content: flex-start;
  }
 .libelle{
   font-weight: bold;
  }

  .modifier{
    --background:#14AE5C;
    // --border:1px solid #14AE5C;
    --border-radius: 20px;
    color: #fff;
    font-weight: bold;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
  td{
    font-size: 12px;
  }

  .texteAjouter{
    // --background: #fff;
    // --border:1px solid #14AE5C;
    // --border-radius: 15px;
    color: #14AE5C;
    // font-weight: bold;
    width: 80%;
    font-weight: bold;

    display: flex;
    justify-content: space-around;
    // margin: auto;
    margin: 4px auto auto auto;
  }

  .ajouterPhase{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: auto;
    cursor: pointer;
    gap: 10px;
  }

  //style du liens choisir culture
  .history{
    font-size: 18px;
    color: #14AE5C;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    align-items: center;
    row-gap: 10px;

    column-gap: 10px;
    margin-top: 10px;
    margin-right: 17px;
    font-weight: bold;
  }




  .elementPrevision{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
    width: 100%;
    padding-bottom: 3px;
  }
  .libellePre{
    font-weight: bold;
  }
 






  //formulaire

.input{
  margin: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.input input, select{
  width: 90vw;
}

//le champ numero de telephone
.telephone-input{
  border: 1px solid rgba(0, 0, 0, 0.12);
}

//le button envoyer
.envoyer-input{
  --background: #14AE5C;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 90%;
}




.obligatoire{
  color: red;
}

.input{
  font-weight: bold;
}

.conteneur-submit{
  width: 100%;
  display: flex;
  justify-content: center;
}


//le conteneur de mon formullaire
.formulaire{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 30px;
}


.is-invalid{
  border-color: red;
}
.is-valid{
  border-color: #14AE5C;
}

.erreur{
  color: red;
  text-align: center;
  width: 100%;
  font-size: 12px;
}

//fin style foormulaire

  

