<ion-header>
  <ion-header>
    <div class="barre-menu">
      <!-- <div class="element-menus"> -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profil"></ion-back-button>
      </ion-buttons>
      <div class="nomApp" style="flex-basis: 80%;" (click)="recupererDetailDuneParserelle()">
        <span style="font-size: 15px;">Cultures</span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <!-- </div> -->
    </div>
  </ion-header>
</ion-header>

<ion-content>


  <!-- Le conteneur principal du detail champs -->
  <div class="conteneurDetailChamp">

    <div class="calendrier-semer">

      <!-- <div class="accesprevision"> -->
      <!-- <ion-button class="accesprevision" expand="block">Consulter les previsions</ion-button> -->
      <!-- </div> -->

      <!-- debut de prevision -->
      <ion-accordion-group (ionChange)="accordionGroupChange($event)">
        <ion-accordion value="first">
          <ion-item slot="header" color="#000">
            <!-- <ion-label>First Accordion</ion-label> -->
            <div class="accesprevision">Consulter les smulations</div>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class=""
              style="height: 20% !important; border-radius: 2px; margin-bottom: 2%; box-shadow: 0 5px 5px -5px" *ngFor="let prevision of lesPrevisionsDunCultive">
              <ion-accordion-group (ionChange)="accordionGroupChange($event)" >
                <ion-accordion value="first" style="margin-bottom: 1% !important;">
                  <ion-item slot="header" color="#000">
                    <!-- <ion-label>First Accordion</ion-label> -->
                    <div class="accesprevision" style="font-size: 1em;">{{prevision.libelle}}</div>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <div class="elementPrevision">
                      <div class="elementPrevision">
                        <div class="libellePre">
                          Date
                        </div>
                        <div class="valeur">
                          {{prevision.dateprevisionnelle}}
                        </div>
                      </div>
                    </div>

                    <div class="elementPrevision">
                      <div class="libellePre">
                        Nombre pluies
                      </div>
                      <div class="valeur">
                        {{prevision.nbrepluieNec}}
                      </div>
                    </div>

                  </div>
                </ion-accordion>

              </ion-accordion-group>
            </div>
            <!-- <div class=""
              style="height: 20% !important; border-radius: 2px; margin-bottom: 2%; box-shadow: 0 5px 5px -5px">
              <ion-accordion-group (ionChange)="accordionGroupChange($event)">
                <ion-accordion value="first">
                  <ion-item slot="header" color="#000">
                    <div class="accesprevision" style="font-size: .8em;">Activité2</div>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo sapiente dolorem voluptas tenetur,
                    repellendus, ipsum ea alias quisquam incidunt, rerum recusandae laudantium quo illum vero eligendi
                    beatae harum magnam magni!
                  </div>
                </ion-accordion>

              </ion-accordion-group>
            </div> -->
          </div>
        </ion-accordion>

      </ion-accordion-group>


      <!-- fin de prevision -->

      <ion-button class="fermer" type="submit" expand="block">METTRE FIN</ion-button>

      <div class="datedf">
        <div class="calendrier" style="font-weight: bold; justify-content: center; color: #14AE5C;">
          {{detailDunCutive.reference}}
        </div>
        <div class="calendrier">
          <div class="libDate">DATE DEBUT</div>
          <div class="calendar-input">{{detailDunCutive.datedebutsemis}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">DATE FIN</div>
          <div class="calendar-input">{{detailDunCutive.datefinsemis}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">STATUS</div>
          <div class="calendar-input" style="color: #14AE5C; font-weight: bold;">{{detailDunCutive.status}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">VARIETE</div>
          <div class="calendar-input">{{detailDunCutive.varietes.nom}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">QUANTITE SEME</div>
          <div class="calendar-input">{{detailDunCutive.quantiteseme}} kg</div>
        </div>
        <div class="calendrier">
          <div class="libDate">RECOLTE PREVUE</div>
          <div class="calendar-input">{{detailDunCutive.recoleprevue}} kg</div>
        </div>
        <form class="calendrier recolteInputConteneur">
          <div class="libDate">RECOLTE REELLE</div>
          <input class="calendar-input inputRecolte" type="number" value="{{detailDunCutive.recolterealise}}">
          <button type="submit"><i class="fa fa-refresh" aria-hidden="true"
              style="font-size: 22px; color: #14AE5C;"></i></button>
        </form>

      </div>


    </div>


    <div class="phase">
      <table>
        <div style="color: #14AE5C; font-weight: bold; margin-bottom: 15px; font-size: 18px;">Les differentes phases
        </div>
        <thead>
          <tr>
            <th>Action</th>
            <th>Debut</th>
            <th>Fin</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Action..</td>
            <td>12/06/22</td>
            <td>30/06/22</td>
            <!-- <td>Detail...</td> -->
            <td routerLink="/profil/champs/details-champs/detail-parserelle"><i style="color: #14AE5C;"
                class="fa fa-info-circle" aria-hidden="true"></i></td>
          </tr>
          <tr>
            <td>Action..</td>
            <td>15/07/22</td>
            <td>16/07/22</td>
            <!-- <td>Detail...</td> -->
            <td routerLink="/profil/champs/details-champs/detail-parserelle"><i style="color: #14AE5C;"
                class="fa fa-info-circle" aria-hidden="true"></i></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="ajouterPhase">
      <div><i class="fa fa-plus" aria-hidden="true" style="font-size:30px"></i></div>
      <div class="texteAjouter">Ajouter une phase</div>
      <!-- <div class="modifier" type="submit" expand="block">
        Ajouter
      </ion-button> -->
    </div>

  </div>






</ion-content>