<ion-header>
  <ion-header>
    <div class="barre-menu">
      <!-- <div class="element-menus"> -->
      <ion-buttons slot="start">
        <ion-back-button defaultHref="profil"></ion-back-button>
      </ion-buttons>
      <div class="nomApp" style="flex-basis: 80%;" (click)="recupererDetailDuneParserelle()">
        <span style="font-size: 13px;">Cultures</span>
        <i class="fa fa-angle-right" aria-hidden="true"></i>
      </div>
      <!-- </div> -->
    </div>
  </ion-header>
</ion-header>

<ion-content>


  <!-- Le conteneur principal du detail champs -->
  <div class="conteneurDetailChamp">

    <div class="calendrier-semer">

      <!-- <div class="accesprevision"> -->
      <!-- <ion-button class="accesprevision" expand="block">Consulter les previsions</ion-button> -->
      <!-- </div> -->

      <!-- debut de prevision -->
      <ion-accordion-group (ionChange)="accordionGroupChange($event)" style="width: 100%;">
        <ion-accordion value="first">
          <ion-item slot="header" color="#000">
            <!-- <ion-label>First Accordion</ion-label> -->
            <div class="accesprevision">Consulter les simulations</div>
          </ion-item>
          <div class="ion-padding" slot="content">
            <div class=""
              style="height: 20% !important; border-radius: 2px; margin-bottom: 2%; box-shadow: 0 5px 5px -5px" *ngFor="let prevision of lesPrevisionsDunCultive">
              <ion-accordion-group (ionChange)="accordionGroupChange($event)" >
                <ion-accordion value="first" style="margin-bottom: 1% !important;">
                  <ion-item slot="header" color="#000">
                    <!-- <ion-label>First Accordion</ion-label> -->
                    <div class="accesprevision" style="font-size: 1em;">{{prevision.libelle}}</div>
                  </ion-item>
                  <div class="ion-padding" slot="content">
                    <div class="elementPrevision">
                      <div class="elementPrevision">
                        <div class="libellePre">
                          Date
                        </div>
                        <div class="valeur">
                          {{prevision.dateprevisionnelle}}
                        </div>
                      </div>
                    </div>
<!-- 
                    <div class="elementPrevision">
                      <div class="libellePre">
                        Nombre pluies
                      </div>
                      <div class="valeur">
                        {{prevision.nbrepluieNec}}
                      </div>
                    </div> -->

                  </div>
                </ion-accordion>

              </ion-accordion-group>
            </div>
           
          </div>
        </ion-accordion>

      </ion-accordion-group>


      <!-- fin de prevision -->

      <ion-button class="fermer" type="submit" expand="block" id="open-modal3" [disabled]="etatFinission" style="font-size: 15px;">METTRE FIN</ion-button>
      <ion-button *ngIf="etatFinission" (click)="signalerUnCultiveCommeNonTerminer()" class="fermer" type="submit" expand="block" id="open-modal3" style="font-size: 15px;">SIGNALER COMME NON TERMINER</ion-button>

      <div class="datedf">
        <div class="calendrier" style="font-weight: bold; justify-content: center; color: #14AE5C;">
          {{detailDunCutive.reference}}
        </div>
        <div class="calendrier">
          <div class="libDate">DATE DEBUT</div>
          <div class="calendar-input">{{detailDunCutive.datedebutsemis}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">DATE FIN SEMIS</div>
          <div class="calendar-input">{{detailDunCutive.datefinsemis}}</div>
        </div>
        <div class="calendrier" *ngIf="detailDunCutive.datefinCultive != null">
          <div class="libDate">DATE FIN CULTIVE</div>
          <div class="calendar-input">{{detailDunCutive.datefinCultive}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">STATUS</div>
          <div class="calendar-input" style="color: #14AE5C; font-weight: bold;">{{detailDunCutive.status}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">VARIETE</div>
          <div class="calendar-input">{{detailDunCutive.varietes.nom}}</div>
        </div>
        <div class="calendrier">
          <div class="libDate">QUANTITE SEME</div>
          <div class="calendar-input">{{detailDunCutive.quantiteseme}} kg</div>
        </div>
        <div class="calendrier">
          <div class="libDate">RECOLTE PREVUE</div>
          <div class="calendar-input">{{detailDunCutive.recoleprevue}} kg</div>
        </div>
        <form class="calendrier recolteInputConteneur"  [formGroup]="myForm" (ngSubmit)="submitForm()">
          <div class="libDate">RECOLTE REELLE</div>
          <input [readonly]="etatFinission" class="calendar-input inputRecolte" type="number" name="recolterealise" formControlName="recolterealise" value="{{detailDunCutive.recolterealise}}">
          <button [disabled]="etatFinission" type="submit"><i class="fa fa-refresh" aria-hidden="true" 
              style="font-size: 22px; color: #14AE5C;"></i></button>
        </form>

      </div>


    </div>


    <div class="phase">
      <table>
        <div style="color: #14AE5C; font-weight: bold; margin-bottom: 15px; font-size: 18px;">Les differentes phases
        </div>
        <thead>
          <tr>
            <th>Action</th>
            <th>Début</th>
            <th>Fin</th>
            <th>Details</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let phase of lesPhaseActivesDunecultive  ; index as i">
            <td>{{phase.libelle.slice(0, 10)}}<span *ngIf="phase.libelle.length > 10">...</span></td>
            <td>{{phase.datedebut}}</td>
            <td>{{phase.datefin}}</td>
            <!-- <td>Detail...</td> -->
            <!-- routerLink="/profil/champs/details-champs/detail-parserelle" -->
            <td id="open-modal" expand="block" (click)="recupererLesDetailDunePhases(i)"><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i>
              </td>
          </tr>
          
        </tbody>
      </table>
    </div>

    <div class="ajouterPhase">
      <div><i class="fa fa-plus" aria-hidden="true" style="font-size:30px; color: #14AE5C;"></i></div>
      <ion-button style="--background: #fff; height: 40px ;color: #14AE5C; width: 177px;"  [disabled]="etatFinission" (click)="modalAjoutAction()" class="texteAjouter">Ajouter une phase</ion-button>
    </div>

  </div>






    <ion-modal
  trigger="open-modal3"
  [initialBreakpoint]="0.55"
  [breakpoints]="[0.70]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding" style="gap: 50px!important;
    display: flex!important;
    justify-content: space-around!important;
    flex-direction: column!important;">

    <form class="formulaire" [formGroup]="myForm1" (ngSubmit)="submitForm1()">

      <div class="ion-margin-top" style="margin-bottom: 3%; width: 100%; text-align: center;">
        <ion-label class="libelleModal" style="color: #14AE5C; font-weight: bold;">Veuillez remplir les champs</ion-label>
      </div>     

      <div class="input">
        <label>Recolte Réalisé<span class="obligatoire">*</span></label>
        <input class="telephone-input" type="number" min="0" class="form-control" placeholder=" 2 en (kg)" formControlName="recolte"
        
        [ngClass]="{'is-invalid': myForm1.get('recolte')!.invalid && myForm1.get('recolte')!.touched}"
        [ngClass]="{'is-valid': myForm1.get('recolte')!.valid && myForm1.get('recolte')!.touched}"
        >
        
        <span class="erreur" *ngIf="myForm1!.get('recolte')!.hasError('required') && myForm1.get('recolte')!.touched">Cet champ est obligatoire</span>

      </div>

      <div class="input">
        <label>Date fin culture<span class="obligatoire">*</span></label>
        <input class="telephone-input" type="date" class="form-control" formControlName="dateFinCultive"

        [ngClass]="{'is-invalid': myForm1.get('dateFinCultive')!.invalid && myForm1.get('dateFinCultive')!.touched}"
        [ngClass]="{'is-valid': myForm1.get('dateFinCultive')!.valid && myForm1.get('dateFinCultive')!.touched}"
        >
        <span class="erreur" *ngIf="myForm1!.get('dateFinCultive')!.hasError('required') && myForm1.get('dateFinCultive')!.touched">Cet champ est obligatoire</span>
      </div>
      <div class="conteneur-submit">
        <ion-button class="envoyer-input" type="submit" expand="block">Envoyer</ion-button>
      </div>

    </form>
      

    </ion-content>
  </ng-template>
</ion-modal>



</ion-content>