<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <ion-buttons slot="start">
        <ion-back-button   defaultHref="/tabs/produit-agricoles"></ion-back-button>
      </ion-buttons>
      <div class="nomApp">
        
        {{detailsProduitsAgricoles.nom}}
        
      </div>
     
    </div>

  </div>
</ion-header>

<ion-content>
  <div class="conteneurDetailProduitAgricole">

    <div class="conteneurImage">
      <img class="image-detail" src="{{detailsProduitsAgricoles.photo}}">
      <ion-button *ngIf="detailsProduitsAgricoles.statusubvention  == true">Subventionné</ion-button>
    </div>

    <div class="description">
      <h5>Description</h5>
      <div class="texte">
        <div style="justify-content: justify;">
         {{detailsProduitsAgricoles.description}}
        </div>
      </div>
    </div>

    <div class="varietes">
      <h5 class="libelle-produitsagricoles">Decouvrir les differentes varietes</h5> 
 
  <div class="produitsagricoles">
    <ion-slides [options]="options" class="imagesproduits">
      <ion-slide class="images-produit" *ngFor="let variete of lesvarietesDuProduitActuel" >
        <img src="{{variete.photo}}" alt="images"   [routerLink]="['semence', variete.id]">
      </ion-slide>
    </ion-slides>
  </div>

    </div>

  </div>
</ion-content>
