<!-- <ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <div class="nomApp">
        FORODOKOTORO
      </div>
      <div class="rechercche">
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
      <div class="nav-item dropdown">
        <div cclass="nav-link dropdown-toggle"
          style="width:80px; height: 40px; border-radius: 25px; background-color: #FFF;"
          data-bs-toggle="dropdown">
          <div class="" style="display: flex;">
            <img *ngIf="currentUser.photo == null" src="../../assets/images/profil.svg"
              style="width: 30px; height: 30px; margin-left: 5% !important; margin-top: 7%; border-radius: 13px;"
              alt="">
              <img *ngIf="currentUser.photo != null" src="../../assets/images/agriculteur.jpg"
              style="width: 30px; height: 30px; margin-left: 5% !important; margin-top: 7%; border-radius: 13px;"
              alt="">
            <i
              style="background-color: red; width: 20px; height: 20px; border-radius: 100%; margin-top: 2%; font-size: 15px;">10</i>
            <i  class='bx bx-chevron-down py-3' style="font-size: 25px; font-weight: bold; color: #14AE5C;"></i>
          </div>
        </div>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0" style="background-color: #efecee;">
          <a routerLink="/profil/champs" class="dropdown-item">
            <div class="d-flex align-items-center nomUser">
              <img *ngIf="currentUser.photo == null" class="rounded-circle" src="../../assets/images/profil.svg" alt="" style="width: 40px; height: 40px;">
              <img *ngIf="currentUser.photo != null" class="rounded-circle" src="../../assets/images/agriculteur.jpg" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2" >
                <h6 class="fw-normal mb-0 nomUser" style="margin: 0; margin-left:8px;">{{currentUser.nomcomplet}}</h6>
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a routerLink="/notifications" class="dropdown-item">
            <div class="d-flex align-items-center">
              <i style="color: #000; font-size: 35px;" class="fa-solid fa-bell"></i>
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser" style="margin: 0; margin-left:8px;">Notification <span style="color: red;">(10)</span></h6>
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a class="dropdown-item"  id="open-modal" expand="block">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="../../assets/images/completerProfil.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser" style="margin: 0; margin-left:8px;">Completer profil</h6>
              </div>
            </div>
          </a>

          <hr class="dropdown-divider">
          <a (click)="deconnexion()" class="dropdown-item">
            <div class="d-flex align-items-center">
              <i style="font-size: 35px; color: #000;" class="fa fa-sign-out" aria-hidden="true"></i>
              <div class="ms-2" >
                <h6 class="fw-normal mb-0" style="color: red; font-weight: bold; display: flex; align-items: center; justify-content: flex-start; margin-left:8px;">Deconnexion</h6><h6 style="width: 180px; height: 0;"></h6>
              
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>

  </div>
</ion-header> -->



<ion-content [fullscreen]="true">
  <div class="meteo">
    <div class="conteur_cercle">
      <div class="intervalle-temp">
        <div class="min">Min {{tmp_min}} °C</div>
        <div class="max">Max {{tmp_max}} °C</div>
      </div>
      <div class="dot">
        <div>
          <!-- <div id="iconmeteo"><img id="wicon" src="https://openweathermap.org/img/wn/{{icon}}@2x.png" alt='Weather icon'></div><div class='temperature'></div> -->
          <div class='temperature'>{{degre}} °C</div>
          <div class="nomVillage">{{ville}}</div>
        </div>
      </div>
    </div>
  </div>
  <!-- decouvrir -->
  <div class="decouvrir">
    <span class="libelle-decouvrir">Decouvrir</span>
    <div class="images-decouvrir">
      <div class="elt-decouvrir">
        <img src="../assets/images/agriculture.png">
        <label class="label-decouvrir">Agriculture</label>
      </div>
      <div class="elt-decouvrir">
        <img src="../assets/images/marche.png">
        <label class="label-decouvrir">Marche</label>
      </div>
      <div class="elt-decouvrir">
        <img src="../assets/images/conseil.png">
        <label class="label-decouvrir">Conseil</label>
      </div>
      <div class="elt-decouvrir">
        <img src="../assets/images/champs.png">
        <label class="label-decouvrir">Champs</label>
      </div>
    </div>
  </div>
  <div class="transports" routerLink="/tabs/transporteurs">
    <span class="libelle-transport">Retrouver un transporteur</span>

    <div class="lien-transporteur">
      <div>Ne vous soucier pas du moyen de transport de vos produits</div>
    </div>
  </div>

  <span class="libelle-produitsagricoles">Produits agricoles</span>
  <div class="produitsagricoles">
    <ion-slides [options]="options" class="imagesproduits">
      <ion-slide class="images-produit">
        <img src="../assets/images/arachide-accueil.png" alt="images">
      </ion-slide>
      <ion-slide class="images-produit">
        <img src="../assets/images/mais-accueil.png" alt="images">
      </ion-slide>
      <ion-slide class="images-produit">
        <img src="../assets/images/coton-accueil.png" alt="images">
      </ion-slide>
      <ion-slide class="images-produit">
        <img src="../assets/images/mais-accueil.png" alt="images">
      </ion-slide>
    </ion-slides>
  </div>

</ion-content>