<ion-content>
<div class="containeur">
  <div class="conteneur-logo">
    <img class="logo" src="../assets/images/logo.png">
  </div>

  <div class="messageBienvenue">
    <div class="texteBienvenue">Bienvenue</div>
    <div>Retrouvez sur Forodokotoro,  des techniques agricoles éfficaces</div>
  </div>

  <div class="commencer">
    <ion-button class="commencer-button" expand="block" routerLink="/connexion">Commencer</ion-button>
  </div>

  <div class="bas">
    <div class="nomapp">
      FORODOKOTORO
    </div>
    <div style="text-align: center; width: 90%;">
      Nous vous garantissons une meilleur récolte
    </div>
  </div>
</div>

</ion-content>
