// ion-content{
//     // --offset-bottom: initial !important;
//     background-color: #F4F5F8;;
//     display: flex;
//     justify-content: center;
//     align-items: center;
   
// }

// .conteneur{
//     display: grid;
//     grid-template-areas:
//     "conteneur-logo conteneur-logo"
//     "conteneur-logo conteneur-logo"
//     "conteneur-logo conteneur-logo"
//     "commencer commencer"
//     "commencer commencer"
//     "bas bas";
//     background-color: #F4F5F8
// };

.containeur{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.texteBienvenue{
    font-weight: bold;
    font-size: 20px;
    color: #14AE5C;
}


//le conteneur de mon logo
.conteneur-logo{
    // background-color: #F4F5F8;;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 40vh;
    width: 100%;

    // grid-area: conteneur-logo;
    // background-color: red;
}

//Le logo de l'application
.logo{
    height: 140px;
    width: 120px;
}

.messageBienvenue{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 15vh;
}
.messageBienvenue div{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


//Le bloc commencer
.commencer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    // height: 30vh;
}

//le button commencer
.commencer ion-button{
    width: 90%;
    --background: #14AE5C;
}

ion-button:hover{
    --background: #14AE5C!important;
}


//le contenu centrer en bas
.bas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // height: 15vh;
}

//le nom de l'application
.nomapp{
    color: #14AE5C;
    font-weight: bold;
}