<ion-header style="position: fixed;">
  <div class="barre-menu">
    <div class="element-menus">
      <div class="libelle">
       Ajouter un champ
      </div>
      <div (click)="closeModal()"><i style="color: #fff; font-size: 20px; margin-right: 10px; display: flex; justify-content: center; align-items: center;" class="fa-solid fa-xmark"></i></div> 
    </div>
  </div>
</ion-header>  
  
  <ion-content>

    <div class="ajout-champ-modal">
  
  
      <div class="containeur">
        <div class="conteneur-logo">
          <img class="logo" src="../assets/images/chamStock.png">
        </div>
  
          <form class="otpForm" [formGroup]="myForm" (ngSubmit)="submitForm()">
  
            <!-- Nom -->
            <div class="input">
  
              <label>Nom <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Nom du champ" formControlName="nom"
              [ngClass]="{'is-invalid': myForm.get('nom')!.invalid && myForm.get('nom')!.touched}"
              [ngClass]="{'is-valid': myForm.get('nom')!.valid && myForm.get('nom')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('nom')!.hasError('required') && myForm.get('nom')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('nom')!.hasError('minlength') && myForm.get('nom')!.touched">Nom court</span>
              <span class="erreur" *ngIf="myForm.get('nom')!.hasError('maxlength') && myForm.get('nom')!.touched">Nom long</span>

  
            </div>
  
            <!-- Longueur -->
            <div class="input">
  
              <label>Longueur <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="number" class="form-control" placeholder="En (metre)" formControlName="longueur"
              [ngClass]="{'is-invalid': myForm.get('longueur')!.invalid && myForm.get('longueur')!.touched}"
              [ngClass]="{'is-valid': myForm.get('longueur')!.valid && myForm.get('longueur')!.touched}"
              >
              <span class="erreur" *ngIf="myForm!.get('longueur')!.hasError('min') && myForm.get('longueur')!.touched">Longeur court</span>
              <span class="erreur" *ngIf="myForm!.get('longueur')!.hasError('max') && myForm.get('longueur')!.touched">Longeur long</span>
              <span class="erreur" *ngIf="myForm!.get('longueur')!.hasError('required') && myForm.get('longueur')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('longueur')!.hasError('minlength') && myForm.get('longueur')!.touched">Longueur court</span>
  
            </div>
  
            <!-- largeur -->
            <div class="input">
  
              <label>Largeur <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="number" class="form-control" placeholder="En (metre)" formControlName="largeur"
              [ngClass]="{'is-invalid': myForm.get('largeur')!.invalid && myForm.get('largeur')!.touched}"
              [ngClass]="{'is-valid': myForm.get('largeur')!.valid && myForm.get('largeur')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('largeur')!.hasError('min') && myForm.get('largeur')!.touched">Largeur court</span>
              <span class="erreur" *ngIf="myForm!.get('largeur')!.hasError('max') && myForm.get('largeur')!.touched">Largeur long</span>
              <span class="erreur" *ngIf="myForm!.get('largeur')!.hasError('required') && myForm.get('largeur')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('largeur')!.hasError('minlength') && myForm.get('largeur')!.touched">Largeur court</span>
  
            </div>
  
  
            <!-- Adresse -->
            <div class="input">
  
              <label>Adresse <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Badinko/kita" formControlName="adresse"
              [ngClass]="{'is-invalid': myForm.get('adresse')!.invalid && myForm.get('adresse')!.touched}"
              [ngClass]="{'is-valid': myForm.get('adresse')!.valid && myForm.get('adresse')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('adresse')!.hasError('required') && myForm.get('adresse')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('adresse')!.hasError('minlength') && myForm.get('adresse')!.touched">Adresse court</span>
  
            </div>
  
            <!-- Longitude -->
            <div class="input">
              <div style="display: flex; justify-content: space-between;">
                <label>Longitude <span class="obligatoire">*</span></label>
                <a (click)=" openTOS()" style="color: #14AE5C; display: flex; justify-content: flex-end;">Localiser</a>
  
              </div>
              
              <input class="telephone-input" type="number" class="form-control" placeholder="18.22" formControlName="longitude"
              [ngClass]="{'is-invalid': myForm.get('longitude')!.invalid && myForm.get('longitude')!.touched}"
              [ngClass]="{'is-valid': myForm.get('longitude')!.valid && myForm.get('longitude')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('longitude')!.hasError('required') && myForm.get('longitude')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('longitude')!.hasError('min') && myForm.get('longitude')!.touched">Longitude court</span>
              <span class="erreur" *ngIf="myForm.get('longitude')!.hasError('max') && myForm.get('longitude')!.touched">Longitude Long</span>

            </div>

             
            <!-- Longitude -->
            <div class="input">
  
              <label>Latitude <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="number" class="form-control" placeholder="1228.45" formControlName="latitude"
              [ngClass]="{'is-invalid': myForm.get('latitude')!.invalid && myForm.get('latitude')!.touched}"
              [ngClass]="{'is-valid': myForm.get('latitude')!.valid && myForm.get('latitude')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('latitude')!.hasError('required') && myForm.get('latitude')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('latitude')!.hasError('min') && myForm.get('latitude')!.touched">Latitude court</span>
              <span class="erreur" *ngIf="myForm.get('latitude')!.hasError('max') && myForm.get('latitude')!.touched">Latitude Long</span>

  
            </div>

             <!-- photo du champ -->
             <div class="input">
  
              <label>Photo du champ <span class="obligatoire">*</span></label>
              <input type="file" id="avatar"  class="form-control" name="avatar"  accept="image/png, image/jpeg"
              multiple (change)="onFileChangePermis($event)"  formControlName="file"
              [ngClass]="{'is-invalid': myForm.get('file')!.invalid && myForm.get('file')!.touched}"
              [ngClass]="{'is-valid': myForm.get('file')!.valid && myForm.get('file')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('file')!.hasError('required') && myForm.get('file')!.touched">Cet champ est obligatoire</span>

            </div>
  
  
            <div class="input">
              <button class="envoyer-input" type="submit" expand="block" >Ajouter</button>
            </div>
          </form>
  
        </div>
      
  
    </div>
     

  </ion-content>
  