<ion-header>
  <div class="barre-menu" >
    <div class="element-menus">
      <ion-buttons slot="start">
        <ion-back-button (click)="retourner()"></ion-back-button>
      </ion-buttons>
      <div class="nomApp">
        {{detailsVarietes.nom}}
      </div>
     
      
    </div>

  </div>
</ion-header>

<ion-content>

  <div class="semence">
    <div class="conteneurImage">
      <img class="image-detail" src="{{detailsVarietes.photo}}">
    </div>

    <div class="description">
      <h5>Description</h5>
      <div class="texte">
        <div style="text-align: justify;">
          {{detailsVarietes.description}}
        </div>
        <div *ngIf="detailsVarietes.lien != null">
          <span (click)="openLiens(detailsVarietes.lien)" style="color: #4285F4;">
            {{detailsVarietes.lien.slice(0, 60)}}<span *ngIf="detailsVarietes.lien.length > 60">...</span>
          </span>
        </div>
      </div>
    </div>



    <div class="detailChamp">
      <div class="elementDetailChamp">
        <div class="libelle">Taille finale</div>
        <div class="detail">{{detailsVarietes.taillefinal}}</div>
      </div>
      <div class="elementDetailChamp">
        <div class="libelle">Cycle</div>
        <div class="detail">{{detailsVarietes.cycle}}</div>
      </div>
      <div class="elementDetailChamp">
        <div class="libelle">Resultat/kg</div>
        <div class="detail">{{detailsVarietes.resultatparkilo}}</div>
      </div>
    </div>



    <table>
      <h6 style="color: #14AE5C; font-weight: bold;">SIMULATIONS</h6>
      <thead>
        <tr>
          <th>Previsions</th>
          <th>Delais</th>
          <th>Criteres</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prevision of previsions">
          <td>{{prevision.libelle}}</td>
          <td>{{prevision.delaijour}} jours</td>
          <td>{{prevision.nbrepluienecessaire}}</td>
        </tr>
    </table>


  </div>

</ion-content>
