<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Kabateliman</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <div class="nomApp">
        <!-- style="width: 60%;" -->
        <!-- <img src="../../assets/images/forodokotoro.png" alt=""> -->
        Kabateliman
      </div>
     
      <div class="nav-item dropdown">
        <!-- margin-top: -20% !important; margin-left: 50% !important; -->
        <div cclass="nav-link dropdown-toggle"
          style="width:80px; height: 40px; border-radius: 25px; background-color: #FFF;"
          data-bs-toggle="dropdown">
          <div class="" style="display: flex;">
            <img src="../../assets/images/keita.jpeg"
              style="width: 30px; height: 30px; margin-left: 5% !important; margin-top: 7%; border-radius: 13px;"
              alt="">
            <i
              style="background-color: red; width: 20px; height: 20px; border-radius: 100%; margin-top: 2%; font-size: 15px;">10</i>
            <i class='bx bx-chevron-down py-3' style="font-size: 25px; font-weight: bold; color: #14AE5C;"></i>
          </div>
        </div>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0" style="background-color: #efecee;">
          <a href="#" class="dropdown-item">
            <div class="d-flex align-items-center nomUser">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser">Sama Keita</h6>
                <!-- <small>15 minutes ago</small> -->
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser">Notofication <span style="">(10)</span></h6>
                <!-- <small>15 minutes ago</small> -->
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser">Completer profil</h6>
                <!-- <small>15 minutes ago</small> -->
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <div class="fw-normal mb-0" style="color: red; font-weight: bold;">Deconnexion</div><h6 style="width: 180px; height: 0;"></h6>
              
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>

  </div>
</ion-header>

<ion-content>

  <div class="semence">
    <div class="conteneurImage">
      <img class="image-detail" src="../assets/images/mais.jpg">
    </div>

    <div class="description">
      <h5>Description</h5>
      <div class="texte">
        <div style="text-align: justify;">
          L'arachide, également connue sous le nom d'arachide, de goober, de
          pindar ou de noix de singe, est une légumineuse cultivée principalement
           pour ses graines comestibles.
        </div>

          <button>Voir plus</button>
      </div>
    </div>



    <div class="detailChamp">
      <div class="elementDetailChamp">
        <div class="libelle">Taille finale</div>
        <div class="detail">20cm</div>
      </div>
      <div class="elementDetailChamp">
        <div class="libelle">Cycle</div>
        <div class="detail">3 mois</div>
      </div>
      <div class="elementDetailChamp">
        <div class="libelle">Resultat/kg</div>
        <div class="detail">20 kg</div>
      </div>
    </div>



    <table>
      <h6 style="color: #14AE5C; font-weight: bold;">DONNEES PREVISIONNELLES</h6>
      <thead>
        <tr>
          <th>Previsions</th>
          <th>Delais</th>
          <th>Criteres</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Prevision 1</td>
          <td>10 jours</td>
          <td>3 pluies</td>
          <td><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Prevision 1</td>
          <td>10 jours</td>
          <td>3 pluies</td>
          <td><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>prevision 1</td>
          <td>10 jours</td>
          <td>3 pluies</td>
          <td><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i></td>
        </tr>
        <tr>
          <td>Prevision 1</td>
          <td>10 jours</td>
          <td>3 pluies</td>
          <td><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i></td>
        </tr>
      </tbody>
      <div class="recolte">
        <div class="libelle">
          Recolte
        </div>
        <div class="valeur">
          850 tonnes
        </div>
    </div>
    </table>


  </div>

</ion-content>
