//La barre en haut
ion-toolbar{
    --background: #14AE5C;
    color: #fff;
    padding: 0;
}

//le titre de la barre
ion-title{
    font-size: 15px;
}






.barre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    background-color: #14AE5C;
      color: #fff;
      padding: 0;
      z-index: 0;
      display: flex;
      justify-content: space-around;
      height: 75px;
  }
  
  .element-menus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .nomApp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }
  //les icones du popup profil
  // .image{
  //   width: 40px; height: 40px;
  // }
  .deconnexion{
    color: red;
  }




.semence{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}

//le conteneur de l' image
.conteneurImage{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

//L'image du semence
.conteneurImage img{
    width: 100%;
    height: 30vh;
}


//Le conteneur du texte de la description et du button voir plus de la description
.texte{
    background-color: #efecee;
    border: 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 8px;
}

//Le titre de la description
.description h5{
    font-weight: bold;
    padding-left: 10px;
    margin: 5px;
    margin-top: 0;
}

//Le conteneur de mes description
.description{
    display: flex;
    justify-content: center;
    flex-direction: column;
}


//le button voir plus de la description
.description button{
    background-color: #FFFFFF;
    border: 1px solid #14AE5C;
    border-radius: 15px;
    width: 50%;
    color: #14AE5C;
    margin: auto;
    box-sizing: border-box;
    width: 114px;
    height: 38px;
    font-weight: bold;
}





////les styles des activites


table{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    // gap: 10px;
}
thead{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    font-weight: bold;
    height: 50px;
    font-weight: bold;
}

thead tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}


tbody{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    flex-direction: column;
    background-color: #efecee;
}

tbody tr{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    height: 50px;
    gap: 10px;
    margin: 10px;

    background: #FFFFFF;
    box-shadow: 0px 0px 5px 4px rgba(20, 174, 92, 0.06);
    border-radius: 10px;
}

.recolte{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.recolte .libelle{
    color: #14AE5C;
    font-weight: bold;
}





//Styles des details du champs

//conteneur principal des details
.detailChamp{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 90%;
    height: 100%;
    gap: 10px;
    margin-left: 5%;
    margin-right: 2%;
  }

  .elementDetailChamp{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%;  
  }

  .detail, .libelle{
    display: flex;
    justify-content: flex-start;
  }
 .libelle{
   font-weight: bold;
  }

  .modifier{
    --background:#14AE5C;
    // --border:1px solid #14AE5C;
    --border-radius: 20px;
    color: #fff;
    font-weight: bold;
    width: 80%;
    display: flex;
    justify-content: center;
    margin: auto;
  }
