<ion-content>
  <div class="produitagricole">
    <!-- partie recherche -->
    <div class="conteneurInput">
      <div class="rechercche">
        <input type="search" placeholder="Recherche">
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <div class="conteneurProduitAgricole">

      <ion-grid>

        <ion-row *ngFor="let produit of produitsAgricolesRecuperer">
          <ion-col>
              <div class="conteneurImg">
                <img src="{{produit.photo}}" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5>{{produit.nom}}</h5>
                 {{produit.description.slice(0, 60)}}<span *ngIf="produit.description.length > 60">...</span>
                </div>
                <button class="voirplus" [routerLink]="['detail-produit-agricoles', produit.id]">Voir plus</button>
              </div>
          </ion-col>
        </ion-row>

       