<ion-header>
  <ion-toolbar class="connexionToolBarre">
    <ion-title class="connexionTitle" style="text-align: center">CONNEXION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #F4F5F8">

  <div class="containeur" style="margin-bottom: 15px;">
    <div class="conteneur-logo">
      <img class="logo" src="../assets/images/logo.png">
    </div>

    <form div class="formulaire"
    [formGroup]="form" (ngSubmit)="onSubmit()"
    >
      <div class="input">
        <label>Numéro de télephone</label>
        <input class="telephone-input" type="tel" class="form-control" placeholder="82644606" formControlName="username"
        [ngClass]="{'is-invalid': form.get('username')!.invalid && form.get('username')!.touched}"
        [ngClass]="{'is-valid': form.get('username')!.valid && form.get('username')!.touched}"
        >
      </div>

      <div class="input">
        <label>Mot de passe</label>
        <input class="telephone-input" type="password" class="form-control"  id="password" data-toggle="password" placeholder="Mot de passe" formControlName="password"
        
        [ngClass]="{'is-invalid': form.get('password')!.invalid && form.get('password')!.touched}"
        [ngClass]="{'is-valid': form.get('password')!.valid && form.get('password')!.touched}"
        >
      </div>

      <div style="font-size: 14px; color: #14AE5C; display: flex; justify-content: flex-end; width: 100%; margin-right: 10px;" (click)="presentModal()">
        Mot de passe oublié ?
      </div>

      <!-- <div *ngIf="form.valid && envoyer && isLoginFailed" class="alert alert-danger" role="alert"> -->
        <!-- Login failed: {{ errorMessage }} -->
        <span class="erreur" *ngIf="form.valid && envoyer && isLoginFailed">Numero ou Mot de passe incorrect</span>
      <!-- </div> -->

      <div class="input">
        <!-- routerLink="/tabs/tab1" -->
        <ion-button class="envoyer-input" type="submit" expand="block"  [disabled]="form.invalid">Se connecter</ion-button>
      </div>

      <div class="autres-options">

        <div style="display: flex; flex-direction: row; gap: 10px; align-items: center; margin-bottom: 10px;">
          <label style="margin-bottom: 0;" >Se souvenir de moi</label>
          <input type="checkbox"  formControlName="sesouvenir" style="border-color: #14AE5C;">
        </div>
        <div style="font-size: 14px;">
          Vous n’avez pas de compte ? <span class="inscription" routerLink="/inscription">Inscription</span>
        </div>
      </div>
      
    </form>
  </div>

</ion-content>
