<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>CONNEXION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="background-color: #F4F5F8">

  <div class="containeur">
    <div class="conteneur-logo">
      <img class="logo" src="../assets/images/logo.png">
    </div>

    <div class="formulaire">
      <div class="input">
        <label>Numéro de télephone</label>
        <input class="telephone-input" type="text" class="form-control" placeholder="82644606">
      </div>

      <div class="input">
        <label>Numéro de télephone</label>
        <input class="telephone-input" type="password" class="form-control"  id="password" data-toggle="password" placeholder="Mot de passe">
      </div>

      <div class="input">
        <ion-button class="envoyer-input" type="submit" expand="block" routerLink="/tabs/tab1">Se connecter</ion-button>
      </div>

      <div class="autres-options">
        <div style="font-size: 14px;">
          Mot de passe oublié ? <span class="oui">Oui</span>
        </div>
        <div style="font-size: 14px;">
          Vous n’avez pas de compte ? <span class="inscription" routerLink="/inscription">Inscription</span>
        </div>
      </div>
      
    </div>
  </div>

</ion-content>
