<ion-header>
  <ion-header>
    <div class="barre-menu">
      <div class="element-menus">
        <ion-buttons slot="start" >
          <ion-back-button defaultHref="profil"></ion-back-button>
        </ion-buttons>
        <div class="nomApp" style="flex-basis: 80%;">
          {{detailsChamp.nom}}
        </div>
      </div>
  
    </div>
  </ion-header>
</ion-header>

  <ion-content>



    <div class="conteneurDetailChamp">
      <div class="photoChamp">
        <img class="monChamp" src="{{detailsChamp.photo}}" alt="Image du champ">
        <div class="temperature" >{{temperatureActuelChamp}} °C</div>
      </div>
        <!-- <div class="filtre">
          <ion-item>
            <ion-select class="input-filtre" placeholder="Choisir une parselle" okText="Choose Fruit" cancelText="Cancel Choice">
              <ion-select-option value="apples">Apples</ion-select-option>
              <ion-select-option value="oranges">Oranges</ion-select-option>
              <ion-select-option value="bananas">Bananas</ion-select-option>
            </ion-select>
          </ion-item>
          <i class="fa fa-filter" aria-hidden="true" routerLink="/profil/champs/details-champs/detail-parserelle" ></i>
      </div>
      
      <div class="calendrier-semer">
        <div class="calendrier">
          <input class="calendar-input" type="date" id="birthday" value="2023-01-13" name="birthday">
          <input class="calendar-input" type="date" id="birthday" value="2023-01-13" name="birthday">
        </div>
        <div class="semer">
          <ion-button class="fermer" type="submit" expand="block">Semer</ion-button>
         <div class="actions-buuton">
          <div><i  class='far fa-edit' style='font-size:25px; color: #000;'></i></div>
          <div><i class="fa fa-trash" aria-hidden="true" style="color:red; font-size:25px"></i></div>
         </div>
        </div>
      </div> -->

      <div class="detailChamp">
        <div class="elementDetailChamp">
          <div class="libelle">Adresse</div>
          <div class="detail"> {{detailsChamp.adresse}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Longitude</div>
          <div class="detail">{{detailsChamp.longitude}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Latitude</div>
          <div class="detail">{{detailsChamp.latitude}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Longueur</div>
          <div class="detail">{{detailsChamp.longueur}} m</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Largeur</div>
          <div class="detail">{{detailsChamp.largeur}} m</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Perimetre</div>
          <div class="detail">{{(detailsChamp.largeur + detailsChamp.longueur)*2}} m</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Surface</div>
          <div class="detail">{{detailsChamp.largeur*detailsChamp.longueur}} m²</div>
        </div>
        <div class="elementDetailChamp modifier">
          <ion-button class="modifier" type="submit" expand="block">Modifier</ion-button>
        </div>
      </div>

      <table>
        <h6 style="color: #14AE5C; font-weight: bold;">LES PARSERELLES</h6>
        <thead>
          <tr>
            <th>Nom</th>
            <th>Longueur</th>
            <th>Largeur</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let parselle of lesParserelleDunChamp ; index as i">
            <td>{{parselle.nom}}</td>
            <td>{{parselle.longueur}} m</td>
            <td>{{parselle.largeur}} m</td>
            <!-- [routerLink]="['/profil/champs/details-champs/detail-parserelle', parselle.id]" -->
            <td (click)=" recupererDetailDuneParserelle(i, parselle.id)"><i style="color: #14AE5C;" class="fa fa-info-circle" aria-hidden="true"></i></td>
          </tr>
         
        </tbody>
      </table>

    </div>

   
      



  </ion-content>
