<ion-header>
  <ion-header>
    <div class="barre-menu">
      <div class="element-menus">
        <ion-buttons slot="start" >
          <ion-back-button (click)="retourner()" defaultHref="profil"></ion-back-button>
        </ion-buttons>
        <div class="nomApp" style="flex-basis: 80%;">
         {{detailsStocks.libelle}}
        </div>
      </div>
  
    </div>
  </ion-header>
</ion-header>

  <ion-content style="background: #efecee;">


    <!-- Le conteneur principal du detail champs -->
    <div class="conteneurDetailStock">
      <div class="photoChamp">
        <img class="monChamp" src="{{detailsStocks.photo}}" alt="Image du champ">
        <!-- <div class="temperature" >25 °C</div> -->
      </div>

      <div class="detailChamp">
        <div class="elementDetailChamp">
          <div class="libelle">Prix/kg</div>
          <div class="detail">{{detailsStocks.prixkilo}}</div>
        </div>
        <!-- <div class="elementDetailChamp">
          <div class="libelle">Nombre kilos</div>
          <div class="detail">{{detailsStocks.nombrekilo}}</div>
        </div> -->
        <div class="elementDetailChamp">
          <div class="libelle">Restes</div>
          <div class="detail">{{detailsStocks.quantiterestant}}</div>
        </div>

        <div class="elementDetailChamp">
          <div class="libelle">Type stock</div>
          <div class="detail">{{detailsStocks.typestock}}</div>
        </div>
<!-- 
        <div class="elementDetailChamp">
          <div class="libelle">Disponibilité</div>
          <div *ngIf="detailsStocks.disponibilite" style="color: #14AE5C; font-weight: bold;" class="detail">Disponible</div>
          <div *ngIf="!detailsStocks.disponibilite" style="color: #14AE5C; font-weight: bold;" class="detail">Disponible</div>
        </div> -->

        <!-- <div class="elementDetailChamp">
          <div class="libelle">Publication</div>
          <div class="detail">{{ detailsStocks.datepublication | date: 'dd/MM/yyyy HH:mm' }}</div>
        </div> -->
        <div class="actionsStocks">
          <!-- <div class="iconAction">
            <i style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
          </div> -->
          <div *ngIf="detailsStocks.proprietaire.id == currentUser.id" class="iconAction" (click)="mettreAjourSonStock($event)">
            <i class="fas fa-edit" style="color: #4285F4;     font-size: 25px;"></i>
          </div>
          <div *ngIf="detailsStocks.proprietaire.id == currentUser.id" (click)="evolutionStock()" class="iconAction" style="color: #14AE5C;">
            Liste mise à jour <i class="fa-solid fa-arrow-right"></i>
           </div>
          <!-- <div class="iconAction"  (click)="mettreAjourSonStock($event)" >
            <i style="color: #14AE5C;" class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <div class="iconAction"  (click)="mettreAjourSonStock($event)">
            <i class="fas fa-minus"></i>
          </div> -->
        </div>
        <div class="aimes">
          <div class="like"  (click)="aimerUnStock(true)">
            <span><i [ngClass]="{'active': statusAime, 'nonActive': !statusAime}" style="font-size: 18px;" class="fas fa-thumbs-up"></i></span>
            <span class="likevaleur" [ngClass]="{'active': statusAime, 'nonActive': !statusAime}">{{detailsStocks.nombreaime}}</span>
          </div>
          <div class="like" (click)="aimerUnStock(false)">
            <span ><i [ngClass]="{'active': statusNonAime, 'nonActive': !statusNonAime}" style="font-size: 18px;" class="fas fa-thumbs-down"></i></span>
            <span class="likevaleur" [ngClass]="{'active': statusNonAime, 'nonActive': !statusNonAime}">{{detailsStocks.nombrenonaime}}</span>
          </div>
        </div>
      </div>

      <div class="liens">
          <ion-button class="boutton" expand="block" (click)="appelle(detailsStocks.proprietaire.username)">Contacter le Vendeur</ion-button>
          <ion-button class="boutton" expand="block" routerLink="/tabs/transporteurs">Trouver un transporteur</ion-button>
          <!-- <button class="liensTexte" expand="block">Se renseigner sur le vendeur</button> -->
      </div>
        
    </div>

   
  </ion-content>
