<ion-header>
  <ion-header>
    <div class="barre-menu">
      <div class="element-menus">
        <ion-buttons slot="start" >
          <ion-back-button defaultHref="profil"></ion-back-button>
        </ion-buttons>
        <div class="nomApp" style="flex-basis: 80%;">
          Mais
        </div>
      </div>
  
    </div>
  </ion-header>
</ion-header>

  <ion-content>


    <!-- Le conteneur principal du detail champs -->
    <div class="conteneurDetailStock">
      <div class="photoChamp">
        <img class="monChamp" src="../../assets/images/maisGraine.jpg" alt="Image du champ">
        <!-- <div class="temperature" >25 °C</div> -->
      </div>

      <div class="detailChamp">
        <div class="elementDetailChamp">
          <div class="libelle">Prix/kg</div>
          <div class="detail">500 FCFA</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Nombre kilos</div>
          <div class="detail">20 kg</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Restes</div>
          <div class="detail">20 kg</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Disponibilité</div>
          <div style="color: #14AE5C; font-weight: bold;" class="detail">Disponible</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Publication</div>
          <div class="detail">12/03/2022</div>
        </div>
        <div class="actionsStocks">
          <div class="iconAction">
            <i style="color: red;" class="fa fa-trash" aria-hidden="true"></i>
          </div>
          <div class="iconAction">
            <i class="fas fa-edit"></i>
          </div>
          <div class="iconAction">
            <i style="color: #14AE5C;" class="fa fa-plus" aria-hidden="true"></i>
          </div>
          <div class="iconAction">
            <i class="fas fa-minus"></i>
          </div>
        </div>
        <div class="history">
         Liste mise à jour <i class="fa-solid fa-arrow-right"></i>
        </div>
      </div>

      <div class="liens">
          <ion-button class="boutton" expand="block">Contacter le Vendeur</ion-button>
          <ion-button class="boutton" expand="block">Trouver un transporteur</ion-button>
          <button class="liensTexte" expand="block">Se renseigner sur le vendeur</button>
      </div>
        
    </div>

   
      



  </ion-content>
