<ion-content>
  <div class="barre-menu">
    <div class="element-menus">
      <div class="libelle">
        Recuperation de  mot de passe
      </div>
      <div (click)="closeModal()"><i style="color: red; font-size: 20px; margin-right: 10px;" class="fa-solid fa-xmark"></i></div> 
    </div>
  </div>
  
  
  <div class="containeur">
    <div class="conteneur-logo">
      <img class="logo" src="../assets/images/logo.png">
    </div>
  
    <div class="texte">
      Veuillez saisir le code de verification à quatre chiffre envoyé à votre adresse mail
    </div>
   
    <form class="formulaire" [formGroup]="myForm" (ngSubmit)="submitForm()">
      <div class="inputOtpconteneur">
        <input class="inputOtp" type="text" formControlName="code1" minlength="1" maxlength="1"   class="form-control" style="width: 50px; border-color: #000;">
        <input class="inputOtp" type="text" class="form-control" minlength="1" maxlength="1"  formControlName="code2" maxlength="1" style="width: 50px; border-color: #000;">
        <input class="inputOtp" type="text" class="form-control" minlength="1" maxlength="1" formControlName="code3" maxlength="1"  style="width: 50px; border-color: #000;">
        <input class="inputOtp" type="text" class="form-control" minlength="1" maxlength="1"  formControlName="code4" maxlength="1" style="width: 50px; border-color: #000;">
      </div>
      <span class="erreur"
      *ngIf="myForm.get('code1')!.hasError('pattern') && myForm.get('code1')!.touched ||
       myForm.get('code2')!.hasError('pattern') && myForm.get('code2')!.touched ||
       myForm.get('code3')!.hasError('pattern') && myForm.get('code3')!.touched ||
       myForm.get('code4')!.hasError('pattern') && myForm.get('code4')!.touched"
        >
        Code invalide
      </span>
      
    
      <div class="input">
        <button class="envoyer-input" type="submit" expand="block">ENVOYER</button>
      </div>
    </form>
    
  </div>
</ion-content>