<ion-content>
  <div class="produitagricole">



    

    <div class="conteneurProduitAgricole">
      <ion-grid>
        <ion-row>
          <ion-col>
              <div class="conteneurImg">
                <img src="../assets/images/mais.jpg" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5>Champ 1</h5>
                </div>
                <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </div>
          </ion-col>

          <ion-col>
            <div class="conteneurImg">
              <img src="../assets/images/arachide.jpg" alt="image produit">
            </div>
            <div class="contenuPrincipal">
              <div class="contenu">
                <h5>Champ 2</h5>
              </div>
              <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
        </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
              <div class="conteneurImg">
                <img src="../assets/images/coton.jpg" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5>Champ 3</h5>
                </div>
                <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </div>
          </ion-col>

          <ion-col>
            <div class="conteneurImg">
              <img src="../assets/images/mil.jpg" alt="image produit">
            </div>
            <div class="contenuPrincipal">
              <div class="contenu">
                <h5>Champ 4</h5>
              </div>
              <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
        </ion-col>

        </ion-row>

      </ion-grid>

    </div>

  </div>
</ion-content>
