
<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="home"></ion-back-button>
      </ion-buttons>
      <div class="nomApp" style="flex-basis: 80%;">
        Sama keita
      </div>
    </div>

  </div>
</ion-header>


<ion-content>
  <div class="produitagricole">

    <div class="conteneurProfil">

      <div class="details">
  
        <div class="photoProfil1">
          <img class="image-detail" src="../assets/images/agriculteur.jpg">
          <i  class='far fa-edit' style='font-size:50px; color: #000; position: relative; bottom: 66px; left: 33px; color: #fff;'></i>
        </div>
  
  
        <div class="infoPersonnelles">
  
          <div class="telephone">
            <div class="libelle">
              <p>Téléphone : </p>
            </div>
            <div class="valeur">
              <p>82644606</p>
            </div>
          </div>
  
          <div class="adresse">
            <div class="libelle">
              <p>Adresse : </p>
            </div>
            <div class="valeur">
              <p>Badinko / Kita</p>
            </div>
          </div>
  
          <div class="mail">
            <div class="libelle">
              <p>E-mail : </p>
            </div>
            <div class="valeur">
              <p style="padding: 0;">mahamadou@gmail.com</p>
            </div>
          </div>
  
          <div class="bouttons">
            <ion-button class="modifier" type="submit" expand="block">Modifier</ion-button>
            <ion-button class="fermer" type="submit" expand="block">Fermer</ion-button>
          </div>
  
        </div> 
      </div>
    </div>

  





    

    <div class="conteneurProduitAgricole">
      <ion-grid>
        <ion-row>
          <ion-col>
              <div class="conteneurImg">
                <img src="../assets/images/mais.jpg" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5>Champ 1</h5>
                </div>
                <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </div>
          </ion-col>

          <ion-col>
            <div class="conteneurImg">
              <img src="../assets/images/arachide.jpg" alt="image produit">
            </div>
            <div class="contenuPrincipal">
              <div class="contenu">
                <h5>Champ 2</h5>
              </div>
              <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
        </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
              <div class="conteneurImg">
                <img src="../assets/images/coton.jpg" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <h5>Champ 3</h5>
                </div>
                <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
              </div>
          </ion-col>

          <ion-col>
            <div class="conteneurImg">
              <img src="../assets/images/mil.jpg" alt="image produit">
            </div>
            <div class="contenuPrincipal">
              <div class="contenu">
                <h5>Champ 4</h5>
              </div>
              <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles"><i class="fa fa-eye" aria-hidden="true"></i></button>
            </div>
        </ion-col>

        </ion-row>

      </ion-grid>

    </div>

  </div>
</ion-content>
