<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <div class="nomApp">
        <!-- style="width: 60%;" -->
        <!-- <img src="../../assets/images/forodokotoro.png" alt=""> -->
        Marché
      </div>
      <!-- <div class="rechercche">
       
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div> -->
      <div class="nav-item dropdown">
        <!-- margin-top: -20% !important; margin-left: 50% !important; -->
        <div cclass="nav-link dropdown-toggle"
          style="width:80px; height: 40px; border-radius: 25px; background-color: #FFF;"
          data-bs-toggle="dropdown">
          <div class="" style="display: flex;">
            <img src="../../assets/images/agriculteur.jpg"
              style="width: 30px; height: 30px; margin-left: 5% !important; margin-top: 7%; border-radius: 13px;"
              alt="">
            <i
              style="background-color: red; width: 20px; height: 20px; border-radius: 100%; margin-top: 2%; font-size: 15px;">10</i>
            <i class='bx bx-chevron-down py-3' style="font-size: 25px; font-weight: bold; color: #14AE5C;"></i>
          </div>
        </div>
        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0" style="background-color: #efecee;">
          <a routerLink="/profil/champs" class="dropdown-item">
            <div class="d-flex align-items-center nomUser">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser">Sama Keita</h6>
                <!-- <small>15 minutes ago</small> -->
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser">Notofication <span style="">(10)</span></h6>
                <!-- <small>15 minutes ago</small> -->
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <h6 class="fw-normal mb-0 nomUser">Completer profil</h6>
                <!-- <small>15 minutes ago</small> -->
              </div>
            </div>
          </a>
          <hr class="dropdown-divider">
          <a href="#" class="dropdown-item">
            <div class="d-flex align-items-center">
              <img class="rounded-circle" src="../../assets/icon/favicon.png" alt="" style="width: 40px; height: 40px;">
              <div class="ms-2">
                <div class="fw-normal mb-0" style="color: red; font-weight: bold;">Deconnexion</div><h6 style="width: 180px; height: 0;"></h6>
              
              </div>
            </div>
          </a>

        </div>
      </div>
    </div>

  </div>
</ion-header>

<ion-content>

  <div class="conteneurMarche">

    <div class="buttons">
      <ion-button class="lu active" type="submit" expand="block">Graines</ion-button>
      <ion-button class="nonlu" type="submit" expand="block">Semences</ion-button>
    </div>


    <div class="conteneurInput">
      <div class="rechercche">
        <input type="search" placeholder="Recherche">
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>



    <ion-grid>

      <ion-row>
        <ion-col>
            <div class="conteneurImg">
              <img class="imageProduit" src="../assets/images/mais.jpg" alt="image produit">
            </div>
            <div class="contenuPrincipal">
              <div class="contenu">
                <!-- <h5>Maïs</h5>
                relying on meaningful content. Lorem ipsum 
                may be -->
                <div class="descriptions">
                  <div class="colonne premier">

                    <div class="element">
                      <div class="libelle">
                        Kilo
                      </div>
                      <div class="valeur">
                        150 kg
                      </div>
                    </div>

                    <div class="element">
                      <div class="libelle">
                        Prix
                      </div>
                      <div class="valeur">
                       400 F/kg
                      </div>
                    </div>

                  </div>

                  <div class="colonne deuxieme">

                    <div class="element">
                      <div class="libelle">
                        Adresse
                      </div>
                      <div class="valeur">
                        Bamako
                      </div>
                    </div>

                    <div class="element">
                      <div class="libelle">
                        Vendeur
                      </div>
                      <div class="valeur">
                        Adama coulibaly
                      </div>
                    </div>

                  </div>

                </div>
                
                <div class="mesBouttons">
                  <i class="fas fa-thumbs-up"></i>
                  <i class="fas fa-thumbs-down"></i>
                  <button class="voirplus" routerLink="/tabs/produit-agricoles/detail-produit-agricoles">Voir plus</button>
                </div>

              </div>
            </div>
        </ion-col>
      </ion-row>

    </ion-grid>

  </div>

</ion-content>
