<ion-content>

  <div class="conteneurMarche">

    <div class="buttons">
      <ion-button (click)="afficheGraine()"  [ngClass]="{'active': graine, 'nonActive': !graine}" class="tout active"   type="submit" expand="block">Graine</ion-button>
      <ion-button (click)="afficheTout()" [ngClass]="{'active': tout, 'nonActive': !tout}" type="submit" expand="block">Tout</ion-button>
      <ion-button (click)="afficheSemence()" [ngClass]="{'active': semence, 'nonActive': !semence}"  type="submit" expand="block">Semence</ion-button>
    </div>


    <div class="conteneurInput">
      <div class="rechercche">
        <input type="search" placeholder="Recherche" [(ngModel)]="filterTerm" >
        <i id="icon-search" class="fa fa-search" aria-hidden="true"></i>
      </div>
    </div>

    <ion-grid>

      <div *ngIf="tout">

        <ion-row *ngFor="let stock of lesStocks | filter: filterTerm | paginate: { itemsPerPage: 10, currentPage: p}" >
          <ion-col>
              <div class="conteneurImg">
                <img class="imageProduit" src="{{stock.photo}}" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <div class="descriptions">
                    <div class="colonne premier">
  
                      <div class="element">
                        <div class="libelle">
                          Kilo
                        </div>
                        <div class="valeur">
                          {{stock.nombrekilo}} kg
                        </div>
                      </div>
  
                      <div class="element">
                        <div class="libelle">
                          Prix
                        </div>
                        <div class="valeur">
                         {{stock.prixkilo}} F/kg
                        </div>
                      </div>
  
                    </div>
  
                    <div class="colonne deuxieme">
  
                      <div class="element">
                        <div class="libelle">
                          Tel
                        </div>
                        <div class="valeur">
                          {{stock.proprietaire.username}}
                        </div>
                      </div>
  
                      <div class="element">
                        <div class="libelle">
                          Vendeur
                        </div>
                        <div class="valeur">
                          {{stock.proprietaire.nomcomplet}}
                        </div>
                      </div>
  
                    </div>
  
                  </div>
  
                  <div class="mesBouttons">
                    <!-- <div class="like">
                      <i class="fas fa-thumbs-up"></i>
                      <span class="likevaleur">12</span>
                    </div>
                    <div class="like">
                      <i class="fas fa-thumbs-down"></i>
                      <span class="likevaleur">02</span>
                    </div> -->
                    <div style="color: #14AE5C; padding-bottom: 5px; font-weight: bold;">
                      {{stock.proprietaire.adresse}}
                    </div>
                    <button class="voirplus" [routerLink]="['/detail-stocks', stock.id]">Voir plus</button>
                  </div>
  
                </div>
              </div>
          </ion-col>
        </ion-row>

        <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>


        <div *ngIf="lesStocks.length === 0" class="vide">PAS DE STOCKS</div>
      </div>
     




      <!-- les semences -->
      <div *ngIf="semence">

        <ion-row *ngFor="let stock of lesSemences | filter: filterTerm | paginate: { itemsPerPage: 10, currentPage: p }" >
          <ion-col>
              <div class="conteneurImg">
                <img class="imageProduit" src="{{stock.photo}}" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <div class="descriptions">
                    <div class="colonne premier">
  
                      <div class="element">
                        <div class="libelle">
                          Kilo
                        </div>
                        <div class="valeur">
                          {{stock.nombrekilo}} kg
                        </div>
                      </div>
  
                      <div class="element">
                        <div class="libelle">
                          Prix
                        </div>
                        <div class="valeur">
                         {{stock.prixkilo}} F/kg
                        </div>
                      </div>
  
                    </div>
  
                    <div class="colonne deuxieme">
  
                      <div class="element">
                        <div class="libelle">
                          Tel
                        </div>
                        <div class="valeur">
                          {{stock.proprietaire.username}}
                        </div>
                      </div>
  
                      <div class="element">
                        <div class="libelle">
                          Vendeur
                        </div>
                        <div class="valeur">
                          {{stock.proprietaire.nomcomplet}}
                        </div>
                      </div>
  
                    </div>
  
                  </div>
  
                  <div class="mesBouttons">
                    <!-- <div class="like">
                      <i class="fas fa-thumbs-up"></i>
                      <span class="likevaleur">12</span>
                    </div>
                    <div class="like">
                      <i class="fas fa-thumbs-down"></i>
                      <span class="likevaleur">02</span>
                    </div> -->
                    <div style="color: #14AE5C; padding-bottom: 5px; font-weight: bold;">
                      {{stock.proprietaire.adresse}}
                    </div>
                    <button class="voirplus" [routerLink]="['/detail-stocks', stock.id]">Voir plus</button>
                  </div>
  
                </div>
              </div>
          </ion-col>

        </ion-row>

        <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
        
        <div *ngIf="lesStocks.lesSemences === 0" class="vide">PAS DE GRAINES</div>

      </div>
      


      <!-- les graines graines -->
      <div *ngIf="graine">

        <ion-row *ngFor="let stock of lesGraines | filter: filterTerm | paginate: { itemsPerPage: 10, currentPage: p}" >
          <ion-col>
              <div class="conteneurImg">
                <img class="imageProduit" src="{{stock.photo}}" alt="image produit">
              </div>
              <div class="contenuPrincipal">
                <div class="contenu">
                  <div class="descriptions">
                    <div class="colonne premier">
  
                      <div class="element">
                        <div class="libelle">
                          Kilo
                        </div>
                        <div class="valeur">
                          {{stock.nombrekilo}} kg
                        </div>
                      </div>
  
                      <div class="element">
                        <div class="libelle">
                          Prix
                        </div>
                        <div class="valeur">
                         {{stock.prixkilo}} F/kg
                        </div>
                      </div>
  
                    </div>
  
                    <div class="colonne deuxieme">
  
                      <div class="element">
                        <div class="libelle">
                          Tel
                        </div>
                        <div class="valeur">
                          {{stock.proprietaire.username}}
                        </div>
                      </div>
  
                      <div class="element">
                        <div class="libelle">
                          Vendeur
                        </div>
                        <div class="valeur">
                          {{stock.proprietaire.nomcomplet}}
                        </div>
                      </div>
  
                    </div>
  
                  </div>
  
                  <div class="mesBouttons">
                    <!-- <div class="like">
                      <i class="fas fa-thumbs-up"></i>
                      <span class="likevaleur">12</span>
                    </div>
                    <div class="like">
                      <i class="fas fa-thumbs-down"></i>
                      <span class="likevaleur">02</span>
                    </div> -->
                    <div style="color: #14AE5C; padding-bottom: 5px; font-weight: bold;">
                      {{stock.proprietaire.adresse}}
                    </div>
                    <button class="voirplus" [routerLink]="['/detail-stocks', stock.id]">Voir plus</button>
                  </div>
  
                </div>
              </div>
          </ion-col>
        </ion-row>

        <pagination-controls (pageChange)="p = $event" previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>


        <div *ngIf="lesGraines.length === 0" class="vide">PAS DE SEMENCES</div>

      </div>
          

    </ion-grid>

  </div>

</ion-content>
