.barre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    background-color: #14AE5C;
      color: #fff;
      padding: 0;
      z-index: 0;
      display: flex;
      justify-content: space-around;
      height: 75px;
  }
  
  .element-menus{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  
  .nomApp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
  }



  //debut style des buttons

  //le style des buttons
  .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .active{
    --background: #14AE5C;
    font-weight: bold;
    color: #fff;
  }

  .buttons ion-button{
    border: none;
    --box-shadow: none;
    width: 80px;
  }

  .nonlu{
    color: #000;
    --background:#fff;
  }
//fin styles des buttons


  

  ///debut style de la partie recherche
  
//le conteneur de mon input recherche et, de l'icone recherche
.conteneurInput{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 13vh;
}

//le conteneur de la partie recherche
.rechercche{
    width: 85vw;
    height: 46px;
    background-color: rgba(255, 255, 255, 0.12);
    border: 1px solid #000000;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
}

//augmente la taille de l'icone recherche
.fa-magnifying-glass::before, .fa-search::before {
    font-size: 25px!important;
}

//le champ input
.rechercche input{
   border: none;
    outline: none;
    width: 60vw;
    height: 43px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 15px;

}


//debut style du contenu
.conteneurMarche{
    margin: 15px 0 0 0;
    // margin-bottom: 15px;
}

.contenu{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
    margin-bottom: 5px;
}

ion-col{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 4px 4px rgba(20, 174, 92, 0.07);
    border-radius: 15px;
    margin-bottom: 20px;
}

.imageProduit{
    border-radius: 15px;
    height: 50%;
    width: 100%;
}

.descriptions{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: 5px;
    width: 100%;
}

.colonne{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.element{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    margin-top: 6px;
}

.premier{
    width: 35%;
}
.deuxieme{
    width: 65%;
}
.valeur, .libelle{
    font-size: 12px;
}
.libelle{
    font-weight: bold;
}

.mesBouttons{
    display: flex;
    justify-content: space-between;
    margin-left: 13px;
    position: relative;
    bottom: -10px;
}
.like{
    display: flex;
    flex-direction: column;
}
.voirplus{
    background: #14AE5C;
    border-radius: 0px 0px 15px 0px;
    width: 98px;
    // height: 26px;
    color: #fff;
    padding: -59px;
    margin-right: -5px;
    // margin-bottom: 2px;
}
.likevaleur{
    font-size: 12px;
}








