<ion-header style="position: fixed;">
  <div class="barre-menu">
    <div class="element-menus">
      <div class="libelle">
       Ajouter un conseil
      </div>
      <div (click)="closeModal()"><i style="color: #fff; font-size: 20px; margin-right: 10px; display: flex; justify-content: center; align-items: center;" class="fa-solid fa-xmark"></i></div> 
    </div>
  </div>
</ion-header>  
  
  <ion-content>

    <div class="ajout-champ-modal">
  
  
      <div class="containeur">
    
          <form class="otpForm" [formGroup]="myForm" (ngSubmit)="submitForm()">
  
            <!-- Nom -->
            <div class="input">
  
              <label>Titre <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="titre" formControlName="titre"
              [ngClass]="{'is-invalid': myForm.get('titre')!.invalid && myForm.get('titre')!.touched}"
              [ngClass]="{'is-valid': myForm.get('titre')!.valid && myForm.get('titre')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('titre')!.hasError('required') && myForm.get('titre')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('titre')!.hasError('minlength') && myForm.get('titre')!.touched">titre court</span>
              <span class="erreur" *ngIf="myForm.get('titre')!.hasError('maxlength') && myForm.get('titre')!.touched">titre court</span>

  
            </div>
  
            <!-- Longueur -->
            <div class="input">
  
              <label>Sous titre <span class="obligatoire">*</span></label>
              <input class="telephone-input" type="text" class="form-control" placeholder="Sous titre" formControlName="soustitre"
              [ngClass]="{'is-invalid': myForm.get('soustitre')!.invalid && myForm.get('soustitre')!.touched}"
              [ngClass]="{'is-valid': myForm.get('soustitre')!.valid && myForm.get('soustitre')!.touched}"
              >
  
              <span class="erreur" *ngIf="myForm!.get('soustitre')!.hasError('required') && myForm.get('soustitre')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('soustitre')!.hasError('minlength') && myForm.get('soustitre')!.touched">Sous titre court</span>
              <span class="erreur" *ngIf="myForm.get('soustitre')!.hasError('maxlength') && myForm.get('soustitre')!.touched">Sous titre court</span>

    
            </div>


             <!-- photo du champ -->
             <div class="input">
  
              <label>Media</label>
              <input type="file" id="avatar"  class="form-control" name="avatar"  accept="video/*"
              multiple (change)="onFileChangePermis($event)"  formControlName="file"
              [ngClass]="{'is-invalid': myForm.get('file')!.invalid && myForm.get('file')!.touched}"
              [ngClass]="{'is-valid': myForm.get('file')!.valid && myForm.get('file')!.touched}"
              >

              <span  *ngIf="myForm.get('file')!.hasError('maxSize') && myForm.get('file')!.touched" >La taille de la vidéo doit être inferieur à 10 MB</span>

            </div>

  
  
            <!-- description du pub -->
            <div class="input">
  
              <label>Description <span class="obligatoire">*</span></label>
              <textarea style="height: 200px;" class="telephone-input" type="text" class="form-control" formControlName="description"
              [ngClass]="{'is-invalid': myForm.get('description')!.invalid && myForm.get('description')!.touched}"
              [ngClass]="{'is-valid': myForm.get('description')!.valid && myForm.get('description')!.touched}"
              >Description</textarea>
  
              <span class="erreur" *ngIf="myForm!.get('description')!.hasError('required') && myForm.get('description')!.touched">Cet champ est obligatoire</span>
              <span class="erreur" *ngIf="myForm.get('description')!.hasError('minlength') && myForm.get('description')!.touched">Description court</span>
              <span class="erreur" *ngIf="myForm.get('description')!.hasError('maxlength') && myForm.get('description')!.touched">Description long</span>

    
            </div>
  
            <div class="input">
              <button class="envoyer-input" type="submit" expand="block" >Ajouter</button>
            </div>
          </form>
  
        </div>
      
  
    </div>
     

  </ion-content>
  