.barre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  
    background-color: #14AE5C;
      color: #fff;
      padding: 0;
      z-index: 0;
      display: flex;
      justify-content: space-around;
      height: 75px;
  }
  
  .element-menus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .nomApp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;

  }

  


  //debut des styles du contenu du profil
  .details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    grid-column: 25px;
    // background-color: #efecee;
    border-radius: 0 0 50px 50px;
    box-shadow: 0px 0px 4px 4px rgb(20 174 92 / 10%);

    margin-bottom: 15px;
  }
  

  .photoProfil1{
    max-height: 30vh;
    width: 100%;
  }
  .image-detail{
    width: 100%;
    max-height: 30vh;
    object-fit: fill;
  }

  .conteneurProfil{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 80px; 
    width: 100%;
    height: 100%;
  }

  .mail, .adresse, .telephone{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .libelle{
    font-weight: bold;
  }
  .libelle, .valeur{
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .libelle{
    font-weight: bold;
  }
  .libelle p, .valeur p{
    font-size: 14px;
  }

  .bouttons{
    display: flex;
    justify-content: space-around;
    width: 100%;
    align-items: center;
  }
  .bouttons ion-button{
    --background:#fff;
    --border:1px solid #14AE5C;
    --border-radius: 20px;
    color: #14AE5C;
    font-weight: bold;
  }

  .contacter{
    --background:#fff;
    --border:1px solid #14AE5C;
    --border-radius: 20px;
    color: #14AE5C;
    font-weight: bold;
    width: 100%;
  }

  .infoPersonnelles{
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 80%;
    gap: 6px;
  }


  @media (min-width: 650px) {
    ion-col {
      border-radius: 10px;
      margin: 10vw;
      width: 120%;
    }
  }



  
//style du bootton input
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {

  font-size: 15px;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
  position: absolute;
  top: -15px!important;
}
//fin su style


  //style des bouttons d'action
.boutton{
    --background:#fff;
    --border-color:#14AE5C;
    --border-radius: 20px;
    color: #14AE5C;
    font-weight: bold;
    width: 95%;
    display: flex;
    justify-content: center;
    margin: auto;
    background-color: #fff;
  }

  .accesprevision{
    width: 100%;
    display: flex;
    justify-content: center;
  }



  .elementPrevision{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
    width: 100%;
    padding-bottom: 3px;
  }
  .libellePre{
    font-weight: bold;
  }

  .active{
    background-color: #14AE5C;
    color: #fff;
  }
  .vide{
    display: flex;
    justify-content: center;
    color: #14AE5C;
  }
 