/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

// ion-content {
//     --backgroung:#fff;
//     // overwrite inline styles
//     --offset-bottom: auto!important;
//     --overflow: hidden;
//     overflow: auto;
//     &::-webkit-scrollbar {
//       display: none;
//     }
// }

// ion-content {
//     --offset-bottom: auto!important;
//     --overflow: hidden;
//     overflow: auto;
//     &::-webkit-scrollbar {
//       display: none;
//     }
//     --background: rgba(255, 255, 255, 0.94) no-repeat;
//   }

ion-content{
    // ICI ON BLOCK LE SCROLLING
    --offset-bottom: auto!important;
    background: #F8F6FB;
  --overflow: hidden;
  overflow: auto;
  &::-webkit-scrollbar {
    display: none;
  }
}

.inner-scroll{
  gap: 50px!important;
  display: flex!important;
  justify-content: space-around!important;
  flex-direction: column!important;
}



ion-popover {
  --backdrop-opacity: 0.6;
  --box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6);
  --color: white;
 --width: calc(100% - 20px);
 --background:none;
}

ion-popover ion-content {
  --background: #FFFFFF;
  --box-shadow: 0px 6px 4px rgba(0, 0, 0, 0.25);
  --border-radius: 15px;
  margin: auto;
}


  //images d'un produit
  .images-produit{
    border-radius: 15px;
    width: 30%!important;
    height: 50%!important;
  }

  .btn:hover {
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
    border-color: none!important;
    border: none!important;
  }




  .ngx-pagination {
    padding-left: 0px !important;
  }
  
  .ngx-pagination .current,
  .btn-info {
    background: #14AE5C !important;
    border: transparent !important;
    border-radius: 20px !important;
  }
  
  .ngx-pagination .current:hover {
    background: #14AE5C !important;
    border-radius: 20px !important; 
    border: transparent !important;
  }


  .tabulation {
     margin: 0; 
}

*:hover{
  color: none !important;
}

.button-native {
  padding-inline-start: inherit!important; 
  padding-inline-end: inherit!important; 
}

ion-back-button:hover{
  color: #fff;
}

ion-back-button{
  color: #fff;
}
ion-button:hover {
  background-color: none;
}

ion-button.selected {
  background-color: #14AE5C;
}


ion-button:hover{
  color: #fff!important;
  --background:#14AE5C!important;
}



button:hover, a:hover, .dropdown-item:hover{
  background-color: #14AE5C!important;
  color: #fff!important;
}





