
<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
      <div class="nomApp" style="flex-basis: 80%;">
        Notifications
      </div>
    </div>

  </div>
</ion-header>

<ion-content>

  <div class="conteneurNotification">
     <div class="buttons">
      <ion-button class="lu active" type="submit" expand="block">Lu</ion-button>
      <ion-button class="nonlu" type="submit" expand="block">Non lu</ion-button>
     </div>

     <div class="notification">
      <div class="titre">
        Le tiitre de la notification
      </div>
      <div class="contenuNot">
        <div class="logo">
          <img class="logoImage" src="../../assets/images/agriculteur.jpg" alt="l'utilisateu concerné">
        </div>
        <div class="texte">
          L'arachide, également connue sous le nom d'arachide, de goober, de pindar
           ou de noix de singe, est une légumineuse.
        </div>
        <div class="icon">
  
        </div>
      </div>
      <div class="dureeExp">
        <div class="expediteur">
          Keita Sama
        </div>
        <div class="dureeNot">
          Il y a 5 jours
        </div>
      </div>
     </div>

     <div class="notification">
      <div class="titre">
        Le tiitre de la notification
      </div>
      <div class="contenuNot">
        <div class="logo">
          <img class="logoImage" src="../../assets/images/agriculteur.jpg" alt="l'utilisateu concerné">
        </div>
        <div class="texte">
          L'arachide, également connue sous le nom d'arachide, de goober, de pindar
           ou de noix de singe, est une légumineuse.
        </div>
        <!-- <div class="icon">
  
        </div> -->
      </div>
      <div class="dureeExp">
        <div class="expediteur">
          Keita Sama
        </div>
        <div class="dureeNot">
          Il y a 5 jours
        </div>
        
      </div>
     </div>

     <div class="notification">
      <div class="titre">
        Le tiitre de la notification
      </div>
      <div class="contenuNot">
        <div class="logo">
          <img class="logoImage" src="../../assets/images/agriculteur.jpg" alt="l'utilisateu concerné">
        </div>
        <div class="texte">
          L'arachide, également connue sous le nom d'arachide, de goober, de pindar
           ou de noix de singe, est une légumineuse.
        </div>
        <div class="icon">
  
        </div>
      </div>
      <div class="dureeExp">
        <div class="expediteur">
          Keita Sama
        </div>
        <div class="dureeNot">
          Il y a 5 jours
        </div>
        
      </div>
     </div>


     <div class="notification">
      <div class="titre">
        Le tiitre de la notification
      </div>
      <div class="contenuNot">
        <div class="logo">
          <img class="logoImage" src="../../assets/images/agriculteur.jpg" alt="l'utilisateu concerné">
        </div>
        <div class="texte">
          L'arachide, également connue sous le nom d'arachide, de goober, de pindar
           ou de noix de singe, est une légumineuse.
        </div>
        <div class="icon">
  
        </div>
      </div>
      <div class="dureeExp">
        <div class="expediteur">
          Keita Sama
        </div>
        <div class="dureeNot">
          Il y a 5 jours
        </div>
        
      </div>
     </div>
  </div>

</ion-content>