
<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="tabs"></ion-back-button>
      </ion-buttons>
      <div class="nomApp" style="flex-basis: 80%;">
        Notifications
      </div>
    </div>

  </div>
</ion-header>

<ion-content>

  <!-- style="margin-top: 31px;" -->
  <div class="conteneurNotification">
     <div class="buttons">
      <!-- <ion-button  type="submit" expand="block">Lu</ion-button> -->
      <!-- <ion-button (click)="activeTout()" [ngClass]="{'active': toutActive, 'nonActive': !toutActive}"  type="submit" expand="block">TOUT</ion-button> -->
      <ion-button (click)="activeLu()" [ngClass]="{'active': luActive, 'nonActive': !luActive}"  type="submit" expand="block">Lu</ion-button>
      <ion-button (click)="activeNonLu()" [ngClass]="{'active': nonLuActive, 'nonActive': !nonLuActive}"  type="submit" expand="block">Non lu</ion-button>
     </div>

     <div *ngIf="luActive == true" style="margin-top: 15px;">

      <div class="notification" style="margin-top: 10px; width: 100vw;"  *ngFor="let notif of lesNotificationsLus">
        <div class="titre" style="display: flex; justify-content: space-between; ">
         <span>{{notif.titre}}</span>
         <span style="color: #14AE5C;">{{ notif.datenotification | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>
        <div class="contenuNot">
          <div class="logo">
            <img class="logoImage" src="../../assets/images/logo.png" alt="l'utilisateu concerné">
          </div>
          <div class="texte">
           <!-- {{notif.contenu}} -->
           {{notif.contenu.slice(0, 80)}}<span *ngIf="notif.contenu.length > 80">...</span>
          </div>
        </div>
        <div class="dureeExp">
          <div class="expediteur">
           FORODOKOTORO
          </div>
          <div (click)="detailNotification($event, notif)" class="dureeNot" style="color: #14AE5C;">
            Détail
           </div>
        </div>
       </div>

     </div>



     <div *ngIf="nonLuActive == true" style="margin-top: 15px;">

      <div class="notification" style="width: 100vw; margin-top: 10px;"  (click)="marquerUneNotifiCommeLu(notif.id, notif)" *ngFor="let notif of lesNotificationsNonLus">
        <div class="titre" style="display: flex; justify-content: space-between; ">
         <span>{{notif.titre}}</span>
         <span style="color: #14AE5C;">{{ notif.datenotification | date: 'dd/MM/yyyy HH:mm' }}</span>
        </div>
        <div class="contenuNot">
          <div class="logo">
            <img class="logoImage" src="../../assets/images/logo.png" alt="l'utilisateu concerné">
          </div>
          <div class="texte">
           <!-- {{notif.contenu}} -->
           {{notif.contenu.slice(0, 80)}}<span *ngIf="notif.contenu.length > 80">...</span>
          </div>
        </div>
        <div class="dureeExp">
          <div class="expediteur">
           FORODOKOTORO
          </div>
          <div (click)="detailNotification($event, notif)" class="dureeNot" style="color: #14AE5C;">
           Détail
          </div>
        </div>
       </div>

     </div>
     

     <!-- <div class="notification">
      <div class="titre">
        Le tiitre de la notification
      </div>
      <div class="contenuNot">
        <div class="logo">
          <img class="logoImage" src="../../assets/images/agriculteur.jpg" alt="l'utilisateu concerné">
        </div>
        <div class="texte">
          L'arachide, également connue sous le nom d'arachide, de goober, de pindar
           ou de noix de singe, est une légumineuse.
        </div>
      </div>
      <div class="dureeExp">
        <div class="expediteur">
          Keita Sama
        </div>
        <div class="dureeNot">
          Il y a 5 jours
        </div> 
      </div>
     </div> -->

     <!-- <div class="notification">
      <div class="titre">
        Le tiitre de la notification
      </div>
      <div class="contenuNot">
        <div class="logo">
          <img class="logoImage" src="../../assets/images/agriculteur.jpg" alt="l'utilisateu concerné">
        </div>
        <div class="texte">
          L'arachide, également connue sous le nom d'arachide, de goober, de pindar
           ou de noix de singe, est une légumineuse.
        </div>
      </div>
      <div class="dureeExp">
        <div class="expediteur">
          Keita Sama
        </div>
        <div class="dureeNot">
          Il y a 5 jours
        </div>
        
      </div>
     </div> -->


     <!-- <div class="notification">
      <div class="titre">
        Le tiitre de la notification
      </div>
      <div class="contenuNot">
        <div class="logo">
          <img class="logoImage" src="../../assets/images/agriculteur.jpg" alt="l'utilisateu concerné">
        </div>
        <div class="texte">
          L'arachide, également connue sous le nom d'arachide, de goober, de pindar
           ou de noix de singe, est une légumineuse.
        </div>
        <div class="icon">
  
        </div>
      </div>
      <div class="dureeExp">
        <div class="expediteur">
          Keita Sama
        </div>
        <div class="dureeNot">
          Il y a 5 jours
        </div>
        
      </div>
     </div> -->

  </div>

</ion-content>